<!DOCTYPE html>
<html>
    <head>
        <title>Setmine | View Lineups & Play Sets | Relive Your Favorite Events</title>

        <!-- CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link href="/css/fontcustom/fontcustom.css" rel="stylesheet" media="screen">
        <link href="/css/index.css" rel="stylesheet" media="screen">

        <!-- js libraries -->
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src='js/libraries/scrollTo.js'></script>
    </head>

    <body>
    	<div id="app"></div>

        <!-- Custom JS -->
        <script src="https://fb.me/react-with-addons-0.13.3.min.js"></script>
        <script src="/js/build/index.js"></script>
    </body>
</html>