@import "colors.less";
@import "mixins.less";
@import "overlays.css";
@import "variables.less";
@import "fonts.less";

html {
    font-size: 16px;
    font-family: @defaultFontStyle;
}

body {
    margin: 0;
    overflow: auto;
}

header {
    height: @headerHeight * 1.5;
    position: fixed;
    width: 100%;
    z-index: 21;
    .header-main {
        width: 100%;
        background-color: @setrecords-light-black;
        color: @setrecords-white;
        justify-content: space-between;
        z-index: 22;
        .logo {
            font-size: 2rem;
            align-items: center;
            font-family: @boldFontStyle;
            img {
                width: 4rem;
                margin: 0 1rem;
            }
        }
        .artist {
            align-items: center;
            .options {
                align-items: flex-end;
                justify-content: center;
                h1 {
                    font-size: 2rem;
                    margin: 0.5rem 0;
                }
                p {
                    margin: 0;
                }
            }
            img {
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                margin: 0 1rem;
                border: 0.4rem solid @setrecords-blue;
            }
        }        
    }
    .nav-bar {
        width: 100%;
        background-color: @setrecords-dark-gray;
        font-size: 1.5rem;
        a {
            text-decoration: none;
            color: @setrecords-black;
            align-items: center;
            justify-content: center;
            &:hover {
                color: @setrecords-blue;
            }
            &.active {
                color: @setrecords-white;
                border-bottom: 0.25rem solid @setrecords-blue;
            }
        }
    }
}

.view-container {
    background-color: @setrecords-purple;
    margin-top: @headerHeight * 1.5;
}

.content-page {
    background-color: @setrecords-gray;
    min-height: 57rem;
}

.metrics-page {
    background-color: @setrecords-gray;
    min-height: 57rem;
    align-items: center;
}

.setmine-report {
    background-color: @setrecords-blue;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-blue;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        cursor: default;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
}

.time-selector {
        position: absolute;
        right: 1rem;
        z-index: 9;
        color: @setrecords-black;
        height: 2.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        align-items: center;
        font-family: @defaultFontCondensed;
        cursor: pointer;
        p {
            margin: 0;
        }
        p:hover {
            color: @setrecords-purple;
        }
        p.active {
            color: @setrecords-white;
        }
        span {
            margin: 0 0.5rem;
        }
}
.setmine-report-inner {
    width: 34rem;
    height: 28rem;
    padding: 4rem 0 2rem 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.setmine-numbers {
    width: 34rem;
    height: 8rem;
    text-transform: uppercase;
    .plays {
        color: @setrecords-white;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .profileviews {
        color: @setrecords-yellow;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .favorites {
        color: @setrecords-green;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .deactivated {
        color: @setrecords-light-black;
        box-shadow: inset 0 0 0 1px #27496d;
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 1rem;
    }
}
.setmine-graph {
    width: 28rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    .not-found {
        margin: auto;
        color: @setrecords-white;
        font-family: @defaultFontStyle;
        font-size: 1.25rem;
    }
}

.soundcloud-report {
    background-color: @setrecords-red;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-red;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        cursor: default;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
}
.soundcloud-report-inner {
    width: 34rem;
    height: 28rem;
    padding: 4rem 0 2rem 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.soundcloud-numbers {
    width: 34rem;
    height: 8rem;
    text-transform: uppercase;
    .plays {
        color: @setrecords-white;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .followers {
        color: @setrecords-yellow;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .deactivated {
        color: @setrecords-light-black;
        box-shadow: inset 0 0 0 1px #27496d;
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 1rem;
    }
}
.soundcloud-graph {
    width: 28rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    .not-found {
        margin: auto;
        color: @setrecords-white;
        font-family: @defaultFontStyle;
        font-size: 1.25rem;
    }
}
.youtube-report {
    background-color: @setrecords-red;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-red;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        cursor: default;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
}
.youtube-report-inner {
    width: 34rem;
    height: 28rem;
    padding: 4rem 0 2rem 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.youtube-numbers {
    width: 34rem;
    height: 8rem;
    text-transform: uppercase;
    .plays {
        color: @setrecords-white;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .followers {
        color: @setrecords-yellow;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .deactivated {
        color: @setrecords-light-black;
        box-shadow: inset 0 0 0 1px #27496d;
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 1rem;
    }
}
.youtube-graph {
    width: 28rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    .not-found {
        margin: auto;
        color: @setrecords-white;
        font-family: @defaultFontStyle;
        font-size: 1.25rem;
    }
}

.linechart {
    height: 16rem;
    width: 28rem;
}

.beacon-report {
    background-color: @setrecords-green;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-green;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        cursor: default;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
}
.beacon-report-inner {
    width: 34rem;
    height: 28rem;
    padding: 4rem 0 2rem 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.beacon-numbers {
    width: 34rem;
    height: 8rem;
    text-transform: uppercase;
    .revenue {
        color: @setrecords-white;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .unlockedsets {
        color: @setrecords-yellow;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 0.75rem;
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
        cursor: pointer;
    }
    .deactivated {
        color: @setrecords-light-black;
        box-shadow: inset 0 0 0 1px #27496d;
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    p {
        margin: 0;
    }
}
.beacon-graph {
    width: 28rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    .not-found {
        margin: auto;
        color: @setrecords-white;
        font-family: @defaultFontStyle;
        font-size: 1.25rem;
    }
}

.social-report {
    background-color: @setrecords-purple;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;

    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-purple;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
}
.social-report-inner {
    width: 34rem;
    height: 30rem;
    padding-top: 4rem;
    position: relative;
    justify-content: space-around;
    align-items: center;
    .divider {
        .createDivider(90%, 0.25rem, @setrecords-white);
    }
}
.social-metrics {
    width: 100%;
    height: 8rem;
    color: @setrecords-white;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    .flex-column {
        align-items: center;
    }
    img {
        height: 4rem;
        width: 4rem;
        margin: 0;
    }
    h1 {
    font-size: 3rem;
    margin: 0;
    }
    p {
        margin: 0;
    }
}
.media-report {
    background-color: @setrecords-red;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;

    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-red;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
    .metrics {
        width: 100%;
        height: 8rem;
        color: @setrecords-white;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        .flex-column {
            align-items: center;
        }
        img {
            height: 4rem;
            width: 4rem;
            margin: 0;
        }
        h1 {
        font-size: 3rem;
        margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .divider {
        .createDivider(90%, 0.25rem, @setrecords-white);
    }
}


#introvid{
    positon: absolute;
    min-width: 100vw;
    
}
video{
    display: inline-block;
    vertical-align: baseline;
    height: 90%;
    width: 100%;

    #introvid{
        padding-bottom: 50px;
    }


}

form{
   height: 16em; 
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   padding: 2em;
   padding top: 3em;
   padding-bottom: 5.5em;
  
   
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color:rgba(255,255,255, 0.7);   
     

   input{
    font-size:1.7em ;
    opacity: 1;

   }
   
    .username-input{
        margin-bottom:1em;
        opacity: 1;


    }
    .password-input{
        margin-bottom: 1em;
        opacity: 1;
    }

}
// button{
//    width: 25.2em;
//     height: 2.2em;
//     background-color: #4183d7; 
//     color:white;
//     border-color: #4183d7; 


  
    
// }

.loginContainer{
    position: relative;
    overflow:hidden;
}

footer{
    height: 0.5 * @headerHeight;
    align-items: center;
    background-color: @setrecords-light-black;
    z-index: 101;
    font-family: @defaultFontStyle;
    padding: 0 1% 0 1%;
    flex-wrap: nowrap;
    font-size: 0.2 * @headerHeight;


    .company-links {
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        a {
            margin: 0 1vw 0 1vw;
            text-decoration: none;
            color: @setrecords-gray;
            &:hover {
                color: @setrecords-blue;
            }
        }
        i {
            margin: 0 1vw 0 1vw;
            color: @setrecords-gray;
        }
    }

    .social-links {
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        a {
            margin: 0 1vw 0 1vw;
            color: @setrecords-gray;
            &:hover {
                color: @setrecords-blue;
            }
        }
    }

    .sponsorship-links {
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        a {
            margin: 0 1vw 0 1vw;
        }
    }
.fa-facebook{color:white;}
.fa-twitter{color:white;}
.fa-instagram{color:white;}
.fa-facebook:hover{color:@facebook-blue;}
.fa-twitter:hover{color:@twitter-blue;}
.fa-instagram:hover{color:@instagram-blue;}
}
/*Content Page*/
    
    
table, th, td {
    color: white;
    margin-top: 8%;
    border: 4px solid #bdc3cc;
}
td{
    i{
        color: red;
    }
    background-color: #313542;
    .deleteTrack{
        border: 0;
        background-color: #bdc3cc;
         border: 5px solid #bdc3cc;
    }
}

#change-set{
    width: 240px;
    height: 55px;
    color: black;
    background-color: #bdc3c7;
    border-color:  #bdc3c7;
    font-family: @demiFontStyle;
    font-weight: bold;
    padding: 0;
    border: none; 
}
#linkTrack{
  
    font-size: 90%;
}
.mobile-column{
    justify-content: space-around;
    padding: 1rem 0;
    button {
        box-shadow: 0.5rem 0.5rem 0 @setrecords-dark-gray;
        border: none;
    }
    button:hover, button.hover {
        border: 0.125rem solid @setrecords-white;
    }
    button:active, button.active {
        box-shadow: 0.125rem 0.125rem 0 @setrecords-dark-gray;
        border: 0.125rem solid @setrecords-white;
        transform: translate(0.375rem, 0.375rem);
    }

    .addSet {
        background-color: @setrecords-purple;
        text-transform: uppercase;
        width: 17rem;
        height: 17rem;
        margin: 1rem 0;
        color: @setrecords-white;
        justify-content: center;
        align-items: center;
        p {
                font-size: 1.25rem;
        }
    }
    .addSong{
        background-color: @setrecords-blue;
        text-transform: uppercase;
        width: 17rem;
        height: 17rem;
        margin: 1rem 0;
        color: @setrecords-white;
        justify-content: center;
        align-items: center;
        p {
                font-size: 1.25rem;
        }
    } 
    .fa-plus{
        font-size: 7rem;
        color: @setrecords-white;
    }  
}
.set-tile{
    width: 17rem;
    height: 17rem;
    margin: 1rem 0;
    padding: 0;
    position: relative;
    z-index: 1;

    .event-image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .artist-image {
        height: 4rem;
        width: 4rem;
        top: 7rem;
        position: absolute;
        border-radius: 50%;
        border: solid 0.25rem @set-blue;
        z-index: 4;
        left: 1rem;
    }
    .tile-controls {
        z-index: 3;
        background-color: fade(@setrecords-light-black, 70%);
        font-size: 1rem;
        color: @setrecords-white;
        width: 100%;
        height: 40%;
        position: absolute;
        font-family: @demiFontStyle;
        bottom: 0px;
        .divider {
            .createDivider(100%, 2px, @setrecords-dark-gray);
        }
        .set-info {
            justify-content: space-around;
            align-items: center;
        }
        .set-stats {
            align-items: stretch;
            .play-count {
                border-right: 2px solid @setrecords-dark-gray;
                align-items: center;
                justify-content: center;
            }
            .set-length {
                align-items: center;
                justify-content: center;
            }
        }
    }
}  

// 
.mobile-set-editor{
    background-color: @setrecords-white;
    min-height: 57rem;
    align-items: flex-start;
    padding: 2rem 3rem;

    .apply-editor {
        position: fixed;
        width: 100%;
        margin: 0;
        height: @headerHeight * 0.5;
        align-items: stretch;
        top: @headerHeight;
        z-index: 22;
        left: 0;
        * {
            background-color: @setrecords-light-black;
            border: none;
            font-size: 1rem;
        }
        *:hover {
            background-color: @setrecords-dark-gray;
        }
        .apply {
            color: @setrecords-green;
            justify-content: center;
        }
        .revert {
            color: @setrecords-yellow;
            justify-content: center;
        }
        .cancel {
            color: @setrecords-red;
            justify-content: center;
        }
    }
    .edit-set-name{
        align-items: center;
        font-family: @boldFontStyle;
        flex-wrap: nowrap;
        .event-title {
            font-size: 2.25rem;
            margin: 0;
        }
        .edit-button {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 0 0 0 1rem;
            color: @setrecords-dark-gray;
            font-family: @defaultFontCondensed;
        }
    }
    .edit-episode-name {
        align-items: center;
        flex-wrap: nowrap;
        .episode-name {
            font-size: 1.5rem;
            margin: 0;
        }
        .edit-button {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 0 0 0 1rem;
            color: @setrecords-dark-gray;
            font-family: @defaultFontCondensed;
        }
    }
    .uploaded-date {
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    .set-tile-preview {
        margin: 4rem 0;
        .set-tile {
            height: 25rem;
            width: 25rem;
            margin: 0;
            .artist-image {
                top: 12rem;
                height: 5rem;
                width: 5rem;
            }
        }
        .upload-image {
            margin: 1rem 0 0 0;
            height: 4rem;
            width: 25rem;
            font-size: 1rem;
            border: 4px dotted @setrecords-purple;
            font-family: @defaultFontStyle;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            p {
                margin: 0;
            }
        }
    }
}

.applying-changes-overlay {
    background-color: @setrecords-black;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 50;
    color: @setrecords-white;
    font-size: 2rem;
    font-family: @boldFontStyle;
    align-items: center;
    justify-content: center;
}

// .WizardStep4{
//     .upload-directions {
//     margin-bottom: 0px;
//     height: 12%;
  
// }
//     .wizard-buttons{
//   width: 30%;
//   height: 60px;
//   border-radius: 7%;
//   background-color: #313542;
//   color:#22a7f0;
//   border-color: #313542; 
//  }
//  .selection{
//        padding-bottom: 0%;
//         margin: 10px;
//         text-align: center;
            
//         button{
//             width: 25%;
//             font-size: 1.5em;
            
//         }
//     }
// .beacon{
//    margin-bottom: 10px;
//    justify-content: center;
//  }
//  #reward{
//     margin-left: 12px;
//     margin:10px;
//  }
//  .free{
//     justify-content: center;
//  }
//  #immediately{
 
//  }


// }

// .WizardStep5{
//     .upload-directions {
//     margin-bottom: 0px;
    
//      }
//      select{
//         width: 60%;
//         height: 30px;
//         margin-bottom: 60px;
//      }
//     .beacon-location{
//         text-align: center;
//     }
//     .selection{
//        padding-bottom: 20px;
            
//         button{
//             width: 18%;
//             font-size: 140%;

            
            
//         }
//     }
// }

// .SetstoryLandingPage{
//     width: 100%;
//     height: 100%;
    


//     .mainLandingPage{
//         background-image: url("/public/images/MainLoginPage.png");
    
//         width: 1582px;
//         height: 599px;
       
//     }
//     .brady{
       
        
//         .drake{
//        justify-content: center;
//        align-item: center;
//         width: %;
//         height: %;
//         img{
//              width: 200px;
//             height: 180px;
          
//         }
//     }
//     }
//     .cartman{
      
//     }
//     #setstoy-landing{
//         z-index: -100;
//     }

//     .hub{
//         color: white;
//        margin-left: 50px;
//         font-size: 300%;
//         p{
//             margin: 0;
//         }    
//     }
//     .fa-apple{
//          margin: 0 20px;
//         font-size: 600%;
//     }
//     .fa-android{
//         padding-left: 50px;
//          margin: 0 20px;
//         font-size: 600%;

//     }
//     .setstory-apps{
//         color: white;
//         margin-right: 100px;
//         justify-content: flex-end;

//     }
 

//      /*Bottom Landing Page*/   
//     .secondLanding{

//         background-image: url("/public/images/Setstory-boss.png");
//          width: 1582px;
//         height: 599px;
//     .boss{
//         width: 791px;
//         height: 599px;
   
//         color: white;

//         h1{
//             font-size: 58px;
//             margin: 10px;
//         }
//         p{
//             margin: 0;
//             font-size: 35px;
//             height: 90px;
//             width: 100%;
        
           
//         }

//     }
//     .ghost{
      
//         width: 791px;
//         height: 599px;
//     }
// }
// }

// .SettingPage{
//     width: 100%;
//     height: 100%;
// }

/*UPLAOD WIZARD CSS*/
// .fa-circle-o{
//     margin-left: 10px;
// }
//  .current-page{
//      margin: 0 20px;
//     text-align: center;
   
//  }
//  #current-page{
//     background-color: #313542;
//     border-radius: 80%;
//     text-align: center;
//  }
//  .step-tile{
//     width: 764px;
//     height: 506px;
//     background-color: #dadfe1;
//     border-radius: 10px;
//  }
//  .upload-set{
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     background-color: #6c7a89;
//     color: white;
//     text-align: center;
//     font-size: 1.5em;
//  }
//  .upload-directions{
//     margin-bottom: 20px;
//     text-align: center;
//     font-size: 1.5em;
//  }
//  .wizard-buttons{
//   height: 60px;
//   border-radius: 7%;
//   background-color: #313542;
//   color:#22a7f0;
//   border: none;
//   box-shadow: 0px 5px 6px #909394; 
//  }
//  .step{
//     margin-left: 25px;
//  }
//  .selection{
//        padding-bottom: 10%;
//         margin: 10px;
//         text-align: center;  
//  }
//  .wizard {
//     height: 560px;
//     width: 100%;
//     background-color: @setrecords-white;
//     justify-content: center;
//     align-items: center;
//  }
//  .wizard-input{
//     text-align: center;
//  }

// .WizardStep1{
   
//     .selection{
//         text-align: center;
            
//         button{
//             margin: 0 20px;
//             width: 16%;
//             font-size: 1.5em;
//         }
//     }       
// }

// .WizardStep2{

//     .selection{
//        padding-bottom: 10%;
//         margin: 10px;
//         text-align: center;
            
//         button{
//             width: 25%;
//             font-size: 1.5em;
//         }
//     }
// }

// .WizardStep3{
//     .step{
//         margin-top: 15px;
//         margin-bottom: 15px;    
//         margin-left: 25px;
//     }
//     .upload-directions{
//         margin-bottom: 1px;
//     }
//     .selection {
//        padding-bottom: .1%;
//        button {
//             width: 20%;
//             font-size: 1.5em;
//         }
//     }   
// }
//     .wizard-input{
//         width: 100%;
//     }
//     .input-page3{
//        width: 60%;
//        height: 30px;
//        margin-bottom: 8px;
//     }
//     .upload-directions{
//         margin-top: 0px;
//         padding-top: 0px;
//     }
// }


// .edit-set-track{

    //     margin-left: .8%;
    //     padding-left: 8%;
    //     font-weight: bold;
    //     height: 420px;

       
    //     p{
    //         margin:0 ;
            
    //         font-size: 130%;
    //     }
    //     .trackiList-table{
    //      width: 70%;   
          
    //      margin-bottom: 15%;
    //     }
    // }

    // .trackAdd{
    //     padding-top: 20px;
    // }
    //   #addTrack{
    //     font-size: 50%;
    //     height: 140%;
    //     width: 20%;
    //     border: none;
    //     color: white;
    //     background-color: #33b510; 
    //     font-family: @demiFontStyle;
    //     border-radius:  40%;
    //     }
    // table, th, td {
    //     color: white;
    //     margin-top: 8%;
    //     border: 4px solid #bdc3cc;

    // }
    // td{
    //     i{
    //         color: red;
    //     }
    //     background-color: #313542;

    //     .deleteTrack{
            
    //         border: 0;
    //         background-color: #bdc3cc;
    //          border: 5px solid #bdc3cc;
    //     }
    //  }
    //  .setDelete{ 
    //       height: 80px;
    //       margin: 20px;
    // }
        // .deleteSet{
        
    // }
    // #deleteSet{
    //     margin-top: 2%;
    //     margin-left: 7.5%;
    //     background-color: @setrecords-black;
    //     color: @setrecords-red;
    //     border: @setrecords-black;
    //     width: 40%;
       

    //     font-style: bold;
    //     font-size: 110%;
    // }
      
    // .edit-set-preview{

        
    //   img{
    //     margin-left: 7.5%;
    //     width: 63%;
    //     height: 140%;
    //   }
    //  #change-set{
    //      margin-left: 7.5%;
    //     width: 63%;
    //     height: 55px;
    //     color: @setrecords-light-black;
    //     background-color: #bdc3c7;
    //     border-color:  #bdc3c7;
    //     font-family: @demiFontStyle;
    //     font-size: 100%;
    //     padding: 0;
    //     border: none;
    //     }
    // }