.click-blue {
  cursor: pointer;
  transition: color 0.1s ease-in;
  transition-duration: 0.1s;
}
.click-blue:hover {
  color: #22a7f0;
}
.blur {
  background-size: cover;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
}
.bottom {
  align-self: flex-end;
}
.top {
  align-self: flex-start;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.center-main {
  justify-content: center;
}
.center-cross {
  align-self: center;
}
.buffer {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.buffer-2x {
  -webkit-box-flex: 2 1 auto !important;
  -moz-box-flex: 2 1 auto !important;
  -webkit-flex: 2 1 auto !important;
  -ms-flex: 2 1 auto !important;
  flex: 2 1 auto !important;
}
.buffer-3x {
  -webkit-box-flex: 3 1 auto !important;
  -moz-box-flex: 3 1 auto !important;
  -webkit-flex: 3 1 auto !important;
  -ms-flex: 3 1 auto !important;
  flex: 3 1 auto !important;
}
.buffer-4x {
  -webkit-box-flex: 4 1 auto !important;
  -moz-box-flex: 4 1 auto !important;
  -webkit-flex: 4 1 auto !important;
  -ms-flex: 4 1 auto !important;
  flex: 4 1 auto !important;
}
.buffer-5x {
  -webkit-box-flex: 5 1 auto !important;
  -moz-box-flex: 5 1 auto !important;
  -webkit-flex: 5 1 auto !important;
  -ms-flex: 5 1 auto !important;
  flex: 5 1 auto !important;
}
.buffer-6x {
  -webkit-box-flex: 6 1 auto !important;
  -moz-box-flex: 6 1 auto !important;
  -webkit-flex: 6 1 auto !important;
  -ms-flex: 6 1 auto !important;
  flex: 6 1 auto !important;
}
.buffer-lg {
  -webkit-box-flex: 10 1 auto !important;
  -moz-box-flex: 10 1 auto !important;
  -webkit-flex: 10 1 auto !important;
  -ms-flex: 10 1 auto !important;
  flex: 10 1 auto !important;
}
.center {
  margin: auto;
}
.click {
  cursor: pointer;
  transition: color 0.1s ease-in;
  transition-duration: 0.1s;
}
.click:hover {
  color: #dadfe1;
}
.set-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.flex-zero {
  -webkit-box-flex: 0 1 auto !important;
  -moz-box-flex: 0 1 auto !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
}
.flex {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.flex-2x {
  -webkit-box-flex: 2 1 auto !important;
  -moz-box-flex: 2 1 auto !important;
  -webkit-flex: 2 1 auto !important;
  -ms-flex: 2 1 auto !important;
  flex: 2 1 auto !important;
}
.flex-3x {
  -webkit-box-flex: 3 1 auto !important;
  -moz-box-flex: 3 1 auto !important;
  -webkit-flex: 3 1 auto !important;
  -ms-flex: 3 1 auto !important;
  flex: 3 1 auto !important;
}
.flex-4x {
  -webkit-box-flex: 4 1 auto !important;
  -moz-box-flex: 4 1 auto !important;
  -webkit-flex: 4 1 auto !important;
  -ms-flex: 4 1 auto !important;
  flex: 4 1 auto !important;
}
.flex-5x {
  -webkit-box-flex: 5 1 auto !important;
  -moz-box-flex: 5 1 auto !important;
  -webkit-flex: 5 1 auto !important;
  -ms-flex: 5 1 auto !important;
  flex: 5 1 auto !important;
}
.flex-6x {
  -webkit-box-flex: 6 1 auto !important;
  -moz-box-flex: 6 1 auto !important;
  -webkit-flex: 6 1 auto !important;
  -ms-flex: 6 1 auto !important;
  flex: 6 1 auto !important;
}
.flex-7x {
  -webkit-box-flex: 7 1 auto !important;
  -moz-box-flex: 7 1 auto !important;
  -webkit-flex: 7 1 auto !important;
  -ms-flex: 7 1 auto !important;
  flex: 7 1 auto !important;
}
.flex-lg {
  -webkit-box-flex: 10 1 auto !important;
  -moz-box-flex: 10 1 auto !important;
  -webkit-flex: 10 1 auto !important;
  -ms-flex: 10 1 auto !important;
  flex: 10 1 auto !important;
}
.flex-fixed {
  -webkit-box-flex: 1 1 0 !important;
  -moz-box-flex: 1 1 0 !important;
  -webkit-flex: 1 1 0 !important;
  -ms-flex: 1 1 0 !important;
  flex: 1 1 0 !important;
}
.flex-fixed-2x {
  -webkit-box-flex: 2 1 0 !important;
  -moz-box-flex: 2 1 0 !important;
  -webkit-flex: 2 1 0 !important;
  -ms-flex: 2 1 0 !important;
  flex: 2 1 0 !important;
}
.flex-fixed-3x {
  -webkit-box-flex: 3 1 0 !important;
  -moz-box-flex: 3 1 0 !important;
  -webkit-flex: 3 1 0 !important;
  -ms-flex: 3 1 0 !important;
  flex: 3 1 0 !important;
}
.flex-fixed-4x {
  -webkit-box-flex: 4 1 0 !important;
  -moz-box-flex: 4 1 0 !important;
  -webkit-flex: 4 1 0 !important;
  -ms-flex: 4 1 0 !important;
  flex: 4 1 0 !important;
}
.flex-fixed-5x {
  -webkit-box-flex: 5 1 0 !important;
  -moz-box-flex: 5 1 0 !important;
  -webkit-flex: 5 1 0 !important;
  -ms-flex: 5 1 0 !important;
  flex: 5 1 0 !important;
}
.flex-fixed-7x {
  -webkit-box-flex: 7 1 0 !important;
  -moz-box-flex: 7 1 0 !important;
  -webkit-flex: 7 1 0 !important;
  -ms-flex: 7 1 0 !important;
  flex: 7 1 0 !important;
}
.hidden {
  display: none!important;
}
.hidden-fade {
  opacity: 0!important;
}
.scrollable {
  overflow-y: scroll!important;
}
.unflex-container {
  display: initial;
}
/* Fonts */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Yellow Peas;
  src: url(../fonts/SECRCODE.ttf);
}
@font-face {
  font-family: SF New Republic;
  src: url(../fonts/SFNewRepublic.ttf);
}
@font-face {
  font-family: District;
  src: url(../fonts/DistProTh.otf);
}
@font-face {
  font-family: Kasse;
  src: url(../fonts/KasseFLF.ttf);
}
@font-face {
  font-family: Lane;
  src: url(../fonts/Lane-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro Light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: Source Sans Pro Extra Light;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: Avenir Demi;
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: Avenir Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir Light;
  src: url(../fonts/AvenirNextLTPro-UltLtCn.otf);
}
@font-face {
  font-family: Avenir Pro Condensed;
  src: url(../fonts/AvenirNextLTPro-Cn.otf);
}
@font-face {
  font-family: Avenir Pro Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
html {
  font-size: 16px;
  font-family: Avenir Regular;
}
body {
  margin: 0;
  overflow: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.invisible {
  visibility: hidden;
}
button {
  border: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
#App {
  height: 100vh;
  background: #f7f7f7;
}
#App .view-container {
  margin-top: 10vh;
  min-height: 90vh;
  flex-wrap: nowrap;
}
#App .view-container .view {
  max-width: 85%;
  overflow-y: scroll!important;
}
#App .view-container .view > .loader {
  position: relative;
  height: 90vh;
}
#App .view-container .view > .loadedContent {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
#apply-changes {
  height: 5vh;
  align-items: stretch;
  top: 10vh;
  z-index: 22;
}
#apply-changes * {
  background-color: #313542;
  color: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
#apply-changes *:hover {
  background-color: #2c303b;
  color: #22a7f0;
}
#apply-changes *:active,
#apply-changes *:focus {
  background-color: #272a35;
  color: #22a7f0;
  outline: none;
}
#apply-changes .revert {
  margin: 0 1rem;
}
#ConfirmChanges,
#Notification {
  background: rgba(49, 53, 66, 0.5);
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 23;
}
#ConfirmChanges .modal,
#Notification .modal {
  align-items: center;
  background-color: #f7f7f7;
  color: #313542;
  box-shadow: 0 13px 25px 0 rgba(49, 53, 66, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  width: 40vw !important;
  height: 20vh !important;
  position: fixed;
  left: 37.5vw;
  top: 35vh;
}
#ConfirmChanges .modal i,
#Notification .modal i {
  cursor: pointer;
}
#Contact {
  height: 90vh;
  padding: 4rem;
  background: #dadfe1;
}
.dropzone {
  min-height: 100px;
  min-width: 35vw;
  font-size: 1rem;
  font-family: Avenir Regular;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: dashed 1px;
  margin: 2rem auto;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #313542;
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
}
.dropzone:hover {
  background: #dedede;
}
.dropzone:active {
  background: #c6c6c6;
}
.dropzone p {
  margin: 0;
}
footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  position: relative;
  background-color: #bdc3c7;
  color: #313542;
  padding: 3vh;
}
footer h4 {
  margin: 0;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  margin: 0.5rem;
  cursor: pointer;
}
footer nav {
  font-size: 1.5rem;
  margin: 1rem auto;
}
footer .copyright {
  margin: 1rem 0;
}
footer .sponsors,
footer .links,
footer .social {
  margin: 0 1rem;
}
@media (min-width: 500px) {
  footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  footer .social {
    margin: 0 auto;
  }
  footer .sponsors {
    margin: 0 1rem;
  }
}
.form-panel {
  background-color: #f7f7f7;
  color: #313542;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
  width: 90%;
  margin: 0 auto 4rem;
  padding: 5%;
  font-size: 1rem;
}
.form-panel input {
  max-width: 100%;
  height: 30px;
  background-color: #f7f7f7;
  color: #313542;
  border: solid 1px #bdc3c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  font-size: inherit;
  padding-left: 0.5rem;
}
header {
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 21;
  flex-wrap: nowrap;
  background-color: #f7f7f7;
  color: #313542;
  justify-content: space-between;
}
header .header-main {
  box-shadow: 0 6px 10px 0 rgba(49, 53, 66, 0.3), 0 2px 2px 0 rgba(49, 53, 66, 0.2);
  flex-wrap: nowrap;
}
header .header-main h1 {
  font-size: 1.5rem;
  margin: auto 1rem;
}
header .logo {
  background-color: #3d4253;
  color: #f7f7f7;
  font-size: 1.5rem;
  align-items: center;
  font-family: Avenir Regular;
  letter-spacing: 0.1rem;
  width: 15%;
  flex-wrap: nowrap;
  min-width: 205px;
}
header .logo img {
  width: 3rem;
}
header .artist {
  align-items: center;
  flex-wrap: nowrap;
}
header .artist .options {
  align-items: flex-end;
  justify-content: center;
}
header .artist .options h1 {
  font-size: 2rem;
  margin: 0;
}
header .artist .options p {
  margin: 0;
  color: #22a7f0;
  text-decoration: underline;
  cursor: pointer;
}
header .artist .options span:hover {
  cursor: pointer;
  color: #22a7f0;
}
header .artist img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  margin: 0 1rem;
  border: solid 3px #22a7f0;
}
#NavBar {
  height: 90vh;
  width: 15%;
  min-width: 205px;
  font-size: .8rem;
  background-color: #313542;
  color: #f7f7f7;
  box-shadow: 0 13px 25px 0 rgba(49, 53, 66, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}
#NavBar a {
  align-items: center;
  cursor: pointer;
}
#NavBar a:hover {
  background-color: #2c303b;
  color: #dadfe1;
}
#NavBar a.active {
  transition: all 0.3s ease-out;
  transition-duration: 0.3s;
  background-color: #272a35;
  color: white;
  border-left: solid 3px #22a7f0;
}
#NavBar h3 {
  margin: 1rem;
}
#NavBar i {
  margin: auto 1vw auto 1rem;
  font-size: 1.25rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(49, 53, 66, 0.8);
  color: #dadfe1;
}
.overlay:hover {
  color: white;
}
.set-tile {
  width: 23vw !important;
  height: 25vh !important;
  background-size: 100% 100%;
  margin: 2vh 1vw;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
}
.set-tile .tile-controls {
  z-index: 3;
  background-color: rgba(49, 53, 66, 0.7);
  font-size: 1rem;
  color: #f7f7f7;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0px;
}
.set-tile .tile-controls .divider {
  height: 1px;
  width: 100%;
  background-color: #f7f7f7;
}
.set-tile .tile-controls .set-info {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.set-tile .tile-controls .set-stats {
  align-items: stretch;
}
.set-tile .tile-controls .set-stats .play-count {
  border-right: 1px solid #f7f7f7;
  align-items: center;
  justify-content: center;
}
.set-tile .tile-controls .set-stats .set-length {
  align-items: center;
  justify-content: center;
}
.set-tile:hover {
  transition: all 0.2s ease-out;
  transition-duration: 0.2s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 13px 25px 0 rgba(49, 53, 66, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}
#SetEditor {
  background-color: #dadfe1;
  padding: 4rem;
}
#SetEditor img {
  width: 200px !important;
  height: 200px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
}
#SetEditor .edit-mix > * {
  width: 90%;
  margin-bottom: 2rem;
}
#SettingsEditor {
  background-color: #dadfe1;
  align-items: flex-start;
  padding: 4rem;
  position: relative;
}
#SettingsEditor .artist-image {
  margin: 0 auto 4rem;
  width: 70%;
}
#SettingsEditor .artist-image img {
  margin: auto;
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50%;
  border: 5px solid #22a7f0;
  box-sizing: border-box;
}
#Tracklist .urlTracklist input {
  margin: 2rem auto;
}
#Tracklist button {
  background-color: #22a7f0;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 12vw!important;
}
#Tracklist button:active {
  background: #1f96d8;
}
#Tracklist table {
  color: #313542;
  margin: 2rem 0;
  align-self: center;
}
#Tracklist table * {
  border: none;
}
#Tracklist table h1 {
  text-align: center;
}
#Tracklist table td {
  height: 100%;
  padding: 0;
  text-align: center;
}
#Tracklist table td i {
  color: #ff4e4e;
}
.warning-border {
  border: 0.125rem solid #ff4e4e;
}
/*************

    Metrics

*************/
.graph {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.graph .linechart {
  height: 16rem!important;
  width: 100%!important;
}
.metrics-page {
  background-color: #f7f7f7;
  min-height: 90vh;
  align-items: center;
  width: 85vw;
}
.metrics-panel {
  background: #dadfe1;
  width: 75%;
  margin: 5vw auto;
  position: relative;
  box-shadow: 0 6px 10px 0 rgba(49, 53, 66, 0.3), 0 2px 2px 0 rgba(49, 53, 66, 0.2);
}
.metrics-panel .loadedContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.metrics-panel .numbers {
  width: 40%;
  height: 5rem;
  text-transform: uppercase;
  background: #f7f7f7;
  margin-top: 5rem;
  margin-left: 2rem;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
  transition: all 0.2s ease-out;
  transition-duration: 0.2s;
}
.metrics-panel .numbers .toggle {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.metrics-panel .numbers .toggle.plays {
  color: #9b59b6;
}
.metrics-panel .numbers .toggle.profileviews,
.metrics-panel .numbers .toggle.unlockedsets {
  color: #22a7f0;
}
.metrics-panel .numbers .toggle.favorites {
  color: #36D7B7;
}
.metrics-panel .numbers .toggle.revenue {
  color: #9b59b6;
}
.metrics-panel .numbers .deactivated {
  background: #dadfe1;
  color: #bdc3c7;
}
.metrics-panel .numbers h1 {
  font-size: 2rem;
  margin: 0;
}
.metrics-panel .numbers p {
  color: #979c9f;
  margin: 0;
  font-size: 0.75rem;
}
@media (max-width: 580px) {
  .metrics-panel .numbers {
    width: 70%;
  }
}
.metrics-panel .title {
  font-family: Avenir Demi;
  font-size: 1.5rem;
  background-color: #f7f7f7;
  align-items: center;
  position: absolute;
  height: 5rem;
  top: -2.5rem;
  left: 2rem;
  padding-right: 1rem;
  cursor: default;
  box-shadow: 0 6px 10px 0 rgba(49, 53, 66, 0.3), 0 2px 2px 0 rgba(49, 53, 66, 0.2);
}
.metrics-panel .title img {
  width: 4rem;
  margin: 0 1rem;
}
.metrics-panel .title i {
  font-size: 4rem;
  margin: auto 1rem;
}
@media (max-width: 910px) {
  .metrics-panel {
    width: 90%;
  }
}
.not-found {
  margin: auto;
  color: #313542;
  font-family: Avenir Regular;
  font-size: 1.25rem;
}
.time-selector {
  background-color: #f7f7f7;
  color: #313542;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 9;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Avenir Pro Condensed;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
}
.time-selector p {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 1vw;
}
.time-selector p:hover {
  color: #22a7f0;
}
.time-selector p.active {
  background-color: #22a7f0;
  color: #f7f7f7;
  -webkit-transform: scaleY(1.1);
  -moz-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  -o-transform: scaleY(1.1);
  transform: scaleY(1.1);
  transition: all 0.2s ease-out;
  transition-duration: 0.2s;
}
.time-selector p span {
  margin: auto;
}
@media (max-width: 580px) {
  .time-selector {
    left: 1rem;
    right: auto;
  }
}
#SetmineReport .title {
  color: #9b59b6;
}
#BeaconReport .title {
  color: #36D7B7;
}
#SoundcloudReport .title {
  color: #ff8800;
}
#SoundcloudReport .numbers .plays {
  color: #ff8800;
}
#SoundcloudReport .numbers .followers {
  color: #22a7f0;
}
#YoutubeReport .title {
  color: #ff4e4e;
}
#YoutubeReport .numbers .plays {
  color: #ff4e4e;
}
#YoutubeReport .numbers .followers {
  color: #22a7f0;
}
#SocialReport .title {
  color: #313542;
}
#SocialReport .loadedContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
#SocialReport .panel {
  margin: 4rem 1rem 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: #f7f7f7;
  color: #313542;
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
}
#SocialReport .panel .divider {
  margin: 1rem auto;
  height: 3px;
  width: 90%;
  background-color: #313542;
}
#SocialReport .panel h1 {
  font-size: 5rem;
  margin: auto;
  font-weight: 100;
}
#SocialReport .panel i {
  font-size: 3rem;
}
#SocialReport .panel i.fa-facebook {
  color: #3b5998;
}
#SocialReport .panel i.fa-twitter {
  color: #55acee;
}
#SocialReport .panel i.fa-instagram {
  color: #3f729b;
}
@media (max-width: 660px) {
  #SocialReport .loadedContent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
  }
  #SocialReport .panel {
    margin: 1rem;
  }
  #SocialReport .panel:nth-child(1) {
    margin-top: 4rem;
  }
}
/*************

    Login Page

*************/
#Login {
  position: relative;
  height: 90vh;
  width: 100%;
  z-index: 100000;
  color: #f7f7f7;
  letter-spacing: 3px;
}
#Login form {
  position: absolute;
  top: 0;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}
#Login form::before {
  content: '';
  opacity: 0.5;
  background-color: #313542;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
#Login form .flex-row {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: solid 1px;
}
#Login video {
  display: inline-block;
  vertical-align: baseline;
  object-fit: initial;
  height: 100%;
  width: 100%;
}
#Login input {
  background: transparent;
  color: inherit;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  letter-spacing: inherit;
}
#Login button {
  height: 3rem;
  width: 10rem;
  margin: 2rem auto;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: inherit;
  background-color: #22a7f0;
  color: #f7f7f7;
}
#Login button:hover {
  background-color: #25b8ff;
  color: #f7f7f7;
}
#Login button:active {
  background-color: #1f96d8;
  color: #f7f7f7;
}
#Login p {
  text-align: center;
  letter-spacing: initial;
  cursor: pointer;
}
#Login p:hover {
  color: #b9b9b9;
}
#Login .login-error {
  justify-content: center;
  color: #ff4e4e;
}
#ForgotPassword {
  justify-content: space-around;
}
#ForgotPassword i {
  cursor: pointer;
  position: absolute;
}
#ForgotPassword i:hover {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#ForgotPassword .flex-row {
  position: relative;
  width: 100%;
}
#ForgotPassword .flex-row input {
  margin-right: 30px;
  width: 100%;
}
/*
    UNORGANIZED SHIT
            |    |
            |    |
        ________
        \            /
         \          /
          \     /
           \   /
            \ /
*/
#linkTrack {
  font-size: 90%;
}
#map {
  height: 25rem;
  width: 100%;
}
#change-set {
  width: 240px;
  height: 55px;
  color: black;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  font-family: Avenir Demi;
  font-weight: bold;
  padding: 0;
  border: none;
}
#UploadSetWizard {
  background-color: #dadfe1;
  padding: 4rem;
}
#UploadSetWizard audio {
  display: none;
}
#UploadSetWizard .step-counter {
  font-family: Avenir Regular;
  color: #313542;
  text-align: center;
  justify-content: space-between;
  border-bottom: solid 2px #dadfe1;
}
#UploadSetWizard .step-counter i {
  margin: auto 0;
  font-size: 2rem;
  cursor: pointer;
}
#UploadSetWizard .wizard-body {
  color: #313542;
}
#UploadSetWizard .wizard-body .wizard-step .map-window {
  height: 15rem;
  width: 15rem;
  border: 0.25rem solid #22a7f0;
  background-color: #36D7B7;
}
#UploadSetWizard .wizard-body .wizard-step td {
  background-color: transparent;
}
#UploadSetWizard .wizard-body .wizard-step input:invalid {
  border: 0.125rem solid #ff4e4e;
}
#UploadSetWizard .wizard-body .wizard-step .upload-music {
  margin: 1rem 0 0 0;
  height: 4rem;
  width: 25rem;
  font-size: 1rem;
  border: 4px dotted #9b59b6;
  font-family: Avenir Regular;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
#UploadSetWizard .wizard-body .wizard-step .upload-music p {
  margin: 0;
}
#UploadSetWizard .wizard-body .wizard-step table {
  width: 100%;
  border: none;
}
#UploadSetWizard .wizard-body .wizard-step table * {
  margin-bottom: 1rem;
}
#UploadSetWizard .wizard-body .wizard-step .image-preview {
  height: 16rem;
  width: 16rem;
  border: 0.25rem solid #22a7f0;
}
#UploadSetWizard .wizard-body .wizard-step .step-button {
  font-size: 1rem;
  background-color: #22a7f0;
  color: #f7f7f7;
  height: 3rem;
  width: 9rem;
  cursor: pointer;
}
#UploadSetWizard .wizard-body .wizard-step .step-button:disabled {
  background-color: #dadfe1 !important;
  color: #bdc3c7 !important;
}
#UploadSetWizard .wizard-body .wizard-step .step-button:hover {
  background-color: #1f96d8;
  color: #f7f7f7;
}
#UploadSetWizard .wizard-body .wizard-step .step-button:active {
  background-color: #1b86c0;
  color: #f7f7f7;
}
#UploadSetWizard .wizard-body .wizard-step .preview-column {
  justify-content: center;
}
#WizardStep1 > p {
  text-align: center;
}
#WizardStep2 .upload {
  margin: 2rem auto;
  width: 100%;
}
#WizardStep2 .upload button {
  margin-right: 3rem;
  background-color: #36D7B7 !important;
  color: #f7f7f7 !important;
}
#WizardStep2 > button {
  margin-top: 2rem;
}
#WizardStep3 > p:first-child {
  text-align: center;
}
#WizardStep4 .featured-artist {
  justify-content: space-between;
  align-items: center;
}
#WizardStep4 button:not(.step-button),
#WizardStep4 button:not(.warning) {
  background-color: #36D7B7;
  color: #f7f7f7;
  font-size: 1rem;
  min-width: 3rem;
  height: 2rem;
  cursor: pointer;
}
#WizardStep4 button:not(.step-button):hover,
#WizardStep4 button:not(.warning):hover {
  background-color: #31c2a5;
  color: #f7f7f7;
}
#WizardStep4 button:not(.step-button):active,
#WizardStep4 button:not(.warning):active {
  background-color: #2bac92;
  color: #f7f7f7;
}
#WizardStep4 input {
  margin-bottom: 1rem;
  width: 70%;
}
#WizardStep4 .set-tile:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 1px 4px 0 rgba(49, 53, 66, 0.37);
}
#WizardStep4 .artist-field {
  justify-content: space-between;
  margin-bottom: 1rem;
}
#WizardStep4 .artist-field input {
  margin: 0;
}
#WizardStep4 .warning {
  cursor: pointer;
}
#WizardStep6 input {
  margin-bottom: 1rem;
}
#WizardStep6 .venue-search {
  height: 20rem;
  overflow-x: auto;
  border: solid 1px #bdc3c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f7f7f7;
  color: #313542;
}
#WizardStep6 .venue-search .venue-listing {
  height: 4rem;
  align-items: stretch;
  padding: 1rem 1rem;
}
#WizardStep6 .venue-search .venue-listing:hover {
  background: #c6c6c6;
}
#WizardStep6 .venue-search .venue-listing h1 {
  font-size: 1.5rem;
  margin: 0;
}
#WizardStep6 .venue-search .venue-listing p {
  font-size: 1rem;
  margin: 0;
}
#WizardStep6 .venue-search .venue-listing .venue-info {
  justify-content: center;
}
#WizardStep6 .venue-search .venue-listing .venue-add {
  align-items: center;
  justify-content: center;
  width: 4rem;
}
#WizardStep6 .venue-search .venue-listing .venue-add i {
  font-size: 1.5rem;
  cursor: pointer;
}
#WizardStep6 .price {
  align-items: center;
  margin-bottom: 1rem;
}
#WizardStep6 .price * {
  margin: 0 0.5rem;
}
#WizardStep6Free .buttons {
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
#WizardStep6Free .outlet-button {
  width: 8rem !important;
  height: 4rem !important;
  text-transform: uppercase;
  background-color: #dadfe1;
  color: #313542;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
#WizardStep6Free .outlet-button i {
  font-size: 2rem;
  color: #ff8800;
}
#WizardStep6Free .outlet-button p {
  font-size: 1rem;
  margin: 0;
}
#WizardStep6Free .deactivated {
  color: #bdc3c7;
}
#WizardStep6Free .deactivated * {
  color: #bdc3c7 !important;
}
#PreviewPlayer {
  width: 80%;
  margin: auto;
  align-items: stretch;
}
#PreviewPlayer .track {
  height: 2rem;
  align-items: center;
}
#PreviewPlayer i {
  font-size: 1.5rem;
}
.warning {
  color: #ff4e4e !important;
}
.approved {
  color: #36D7B7 !important;
}
#addTrack {
  font-size: 50%;
  height: 30px;
  width: 20%;
  border: none;
  color: white;
  background-color: #33b510;
  font-family: Avenir Demi;
  border-radius: 12px;
}
