@import "overlays.css";
.click-blue {
  cursor: pointer;
  transition: color 0.1s ease-in;
  transition-duration: 0.1s;
}
.click-blue:hover {
  color: #3698db;
}
.blur {
  background-size: cover;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
}
.bottom {
  align-self: flex-end;
}
.top {
  align-self: flex-start;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.center-main {
  justify-content: center;
}
.center-cross {
  align-self: center;
}
.buffer {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.buffer-2x {
  -webkit-box-flex: 2 1 auto !important;
  -moz-box-flex: 2 1 auto !important;
  -webkit-flex: 2 1 auto !important;
  -ms-flex: 2 1 auto !important;
  flex: 2 1 auto !important;
}
.buffer-3x {
  -webkit-box-flex: 3 1 auto !important;
  -moz-box-flex: 3 1 auto !important;
  -webkit-flex: 3 1 auto !important;
  -ms-flex: 3 1 auto !important;
  flex: 3 1 auto !important;
}
.buffer-4x {
  -webkit-box-flex: 4 1 auto !important;
  -moz-box-flex: 4 1 auto !important;
  -webkit-flex: 4 1 auto !important;
  -ms-flex: 4 1 auto !important;
  flex: 4 1 auto !important;
}
.buffer-5x {
  -webkit-box-flex: 5 1 auto !important;
  -moz-box-flex: 5 1 auto !important;
  -webkit-flex: 5 1 auto !important;
  -ms-flex: 5 1 auto !important;
  flex: 5 1 auto !important;
}
.buffer-6x {
  -webkit-box-flex: 6 1 auto !important;
  -moz-box-flex: 6 1 auto !important;
  -webkit-flex: 6 1 auto !important;
  -ms-flex: 6 1 auto !important;
  flex: 6 1 auto !important;
}
.buffer-lg {
  -webkit-box-flex: 10 1 auto !important;
  -moz-box-flex: 10 1 auto !important;
  -webkit-flex: 10 1 auto !important;
  -ms-flex: 10 1 auto !important;
  flex: 10 1 auto !important;
}
.center {
  margin: auto;
}
.click {
  cursor: pointer;
  transition: color 0.1s ease-in;
  transition-duration: 0.1s;
}
.click:hover {
  color: #dadfe1;
}
.set-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.flex-zero {
  -webkit-box-flex: 0 1 auto !important;
  -moz-box-flex: 0 1 auto !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
}
.flex {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.flex-2x {
  -webkit-box-flex: 2 1 auto !important;
  -moz-box-flex: 2 1 auto !important;
  -webkit-flex: 2 1 auto !important;
  -ms-flex: 2 1 auto !important;
  flex: 2 1 auto !important;
}
.flex-3x {
  -webkit-box-flex: 3 1 auto !important;
  -moz-box-flex: 3 1 auto !important;
  -webkit-flex: 3 1 auto !important;
  -ms-flex: 3 1 auto !important;
  flex: 3 1 auto !important;
}
.flex-4x {
  -webkit-box-flex: 4 1 auto !important;
  -moz-box-flex: 4 1 auto !important;
  -webkit-flex: 4 1 auto !important;
  -ms-flex: 4 1 auto !important;
  flex: 4 1 auto !important;
}
.flex-5x {
  -webkit-box-flex: 5 1 auto !important;
  -moz-box-flex: 5 1 auto !important;
  -webkit-flex: 5 1 auto !important;
  -ms-flex: 5 1 auto !important;
  flex: 5 1 auto !important;
}
.flex-6x {
  -webkit-box-flex: 6 1 auto !important;
  -moz-box-flex: 6 1 auto !important;
  -webkit-flex: 6 1 auto !important;
  -ms-flex: 6 1 auto !important;
  flex: 6 1 auto !important;
}
.flex-7x {
  -webkit-box-flex: 7 1 auto !important;
  -moz-box-flex: 7 1 auto !important;
  -webkit-flex: 7 1 auto !important;
  -ms-flex: 7 1 auto !important;
  flex: 7 1 auto !important;
}
.flex-lg {
  -webkit-box-flex: 10 1 auto !important;
  -moz-box-flex: 10 1 auto !important;
  -webkit-flex: 10 1 auto !important;
  -ms-flex: 10 1 auto !important;
  flex: 10 1 auto !important;
}
.flex-fixed {
  -webkit-box-flex: 1 1 0 !important;
  -moz-box-flex: 1 1 0 !important;
  -webkit-flex: 1 1 0 !important;
  -ms-flex: 1 1 0 !important;
  flex: 1 1 0 !important;
}
.flex-fixed-2x {
  -webkit-box-flex: 2 1 0 !important;
  -moz-box-flex: 2 1 0 !important;
  -webkit-flex: 2 1 0 !important;
  -ms-flex: 2 1 0 !important;
  flex: 2 1 0 !important;
}
.flex-fixed-3x {
  -webkit-box-flex: 3 1 0 !important;
  -moz-box-flex: 3 1 0 !important;
  -webkit-flex: 3 1 0 !important;
  -ms-flex: 3 1 0 !important;
  flex: 3 1 0 !important;
}
.flex-fixed-4x {
  -webkit-box-flex: 4 1 0 !important;
  -moz-box-flex: 4 1 0 !important;
  -webkit-flex: 4 1 0 !important;
  -ms-flex: 4 1 0 !important;
  flex: 4 1 0 !important;
}
.flex-fixed-5x {
  -webkit-box-flex: 5 1 0 !important;
  -moz-box-flex: 5 1 0 !important;
  -webkit-flex: 5 1 0 !important;
  -ms-flex: 5 1 0 !important;
  flex: 5 1 0 !important;
}
.flex-fixed-7x {
  -webkit-box-flex: 7 1 0 !important;
  -moz-box-flex: 7 1 0 !important;
  -webkit-flex: 7 1 0 !important;
  -ms-flex: 7 1 0 !important;
  flex: 7 1 0 !important;
}
.hidden {
  display: none!important;
}
/*
.header  {
    font-size:4rem;
    font-weight: 400;
    font-family: @defaultFontStyle;
    letter-spacing: 0.5rem;
}
.header-medium {
    font-size:3rem;
    font-weight:400;
    font-family: @defaultFontStyle;
    letter-spacing: 0.2rem;
}
.header-small  {
    font-size:1.5rem;
    font-weight: 300;
    font-family: @defaultFontStyle;
    letter-spacing: 0.1rem;
}
*/
.hidden-fade {
  opacity: 0!important;
}
.overlay-container {
  position: relative;
}
.overlay {
  position: absolute;
  width: 86%;
  height: 100%;
  z-index: 2;
}
.overlay ~ * {
  z-index: 3;
}
.overlay ~ img {
  z-index: 1;
}
.scrollable {
  overflow-y: scroll!important;
}
.setrecords-panel {
  border: solid 2px #e6e6e6;
  background: #f2f2f2;
}
.unflexContainer {
  display: initial;
}
/* Fonts */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Yellow Peas;
  src: url(../fonts/SECRCODE.ttf);
}
@font-face {
  font-family: SF New Republic;
  src: url(../fonts/SFNewRepublic.ttf);
}
@font-face {
  font-family: District;
  src: url(../fonts/DistProTh.otf);
}
@font-face {
  font-family: Kasse;
  src: url(../fonts/KasseFLF.ttf);
}
@font-face {
  font-family: Lane;
  src: url(../fonts/Lane-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro Light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: Source Sans Pro Extra Light;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: Avenir Demi;
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: Avenir Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir Light;
  src: url(../fonts/AvenirNextLTPro-UltLtCn.otf);
}
@font-face {
  font-family: Avenir Pro Condensed;
  src: url(../fonts/AvenirNextLTPro-Cn.otf);
}
@font-face {
  font-family: Avenir Pro Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
html {
  font-size: 16px;
  font-family: Avenir Regular;
}
body {
  margin: 0;
  overflow: auto;
}
header {
  height: 10.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .header-main {
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  justify-content: space-between;
  z-index: 12;
}
header .header-main .logo {
  font-size: 2rem;
  align-items: center;
  font-family: Avenir Pro Bold;
}
header .header-main .logo img {
  width: 4rem;
  margin: 0 1rem;
}
header .header-main .artist {
  align-items: center;
}
header .header-main .artist .options {
  align-items: flex-end;
  justify-content: center;
}
header .header-main .artist .options h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
header .header-main .artist .options p {
  margin: 0;
}
header .header-main .artist img {
  height: 4rem;
  border-radius: 50%;
  margin: 0 1rem;
  border: 0.4rem solid #3698db;
}
header .nav-bar {
  width: 100%;
  background-color: #969696;
  font-size: 1.5rem;
  z-index: 11;
}
header .nav-bar a {
  text-decoration: none;
  color: #2b2b2b;
  align-items: center;
  justify-content: center;
}
header .nav-bar a:hover {
  color: #3698db;
}
header .nav-bar a.active {
  color: #ffffff;
  border-bottom: 0.25rem solid #3698db;
}
.view-container {
  background-color: #673bb6;
  margin-top: 10.5rem;
}
.content-page {
  min-height: 57rem;
}
.set-list {
  background-color: #e6e6e6;
  height: 100%;
  overflow: auto;
}
.set-editor {
  background-color: #e6e6e6;
  font-family: Avenir Demi;
}
.set-tile {
  width: auto%;
  height: auto%;
  position: relative;
  margin: auto;
}
.tile-info {
  color: white;
  height: 50%;
  width: 100%;
}
.tile-info .artist-image {
  height: 80%;
  border-radius: 50%;
  border: solid 4px #22a7f0;
  z-index: 4;
  position: absolute;
  left: 25%;
  top: -20%;
}
.tile-info .overlay {
  color: white;
  background-color: rgba(43, 43, 43, 0);
}
.tile-info .event-image {
  height: 100%;
  width: 86%;
  position: absolute;
}
.tile-info .tile-controls {
  background-color: rgba(150, 150, 150, 0.7);
  font-size: 1rem;
}
.tile-info .tile-controls > .divider {
  height: 1px;
  width: 100%;
  background-color: #cccccc;
}
.tile-info .tile-controls .flex-row .divider {
  height: initial;
  width: 1px;
  background-color: #cccccc;
}
.tile-info .set-info {
  padding: 1vh;
  width: 50%;
}
.metrics-page {
  background-color: #cccccc;
  min-height: 57rem;
  align-items: center;
}
.setmine-report {
  background-color: #3698db;
  width: 34rem;
  height: 34rem;
  margin: 4rem 0;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
}
.setmine-report .title {
  font-family: Avenir Demi;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #3698db;
  align-items: center;
  position: absolute;
  height: 5rem;
  top: -2.5rem;
  left: 1rem;
  padding-right: 1rem;
}
.setmine-report .title img {
  width: 4rem;
  margin: 0 1rem;
}
.setmine-report .setmine-numbers {
  width: 34rem;
  height: 6rem;
  text-transform: uppercase;
}
.setmine-report .setmine-numbers .plays {
  color: #ffffff;
  align-items: center;
  flex-wrap: nowrap;
}
.setmine-report .setmine-numbers .profileviews {
  color: #efc56d;
  align-items: center;
  flex-wrap: nowrap;
}
.setmine-report .setmine-numbers .favorites {
  color: #40d18f;
  align-items: center;
  flex-wrap: nowrap;
}
.setmine-report .setmine-numbers h1 {
  font-size: 3rem;
  margin: 0;
}
.setmine-report .setmine-numbers p {
  margin: 0;
}
.setmine-report .setmine-graph {
  width: 28rem;
  height: 16rem;
  background-color: #ffffff;
}
.beacon-report {
  background-color: #40d18f;
  width: 34rem;
  height: 34rem;
  margin: 4rem 0;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
}
.beacon-report .title {
  font-family: Avenir Demi;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #40d18f;
  align-items: center;
  position: absolute;
  height: 5rem;
  top: -2.5rem;
  left: 1rem;
  padding-right: 1rem;
}
.beacon-report .title img {
  width: 4rem;
  margin: 0 1rem;
}
.beacon-report .beacon-numbers {
  width: 34rem;
  height: 6rem;
  text-transform: uppercase;
}
.beacon-report .beacon-numbers .revenue {
  color: #ffffff;
  align-items: center;
  flex-wrap: nowrap;
}
.beacon-report .beacon-numbers .unlockedsets {
  color: #efc56d;
  align-items: center;
  flex-wrap: nowrap;
}
.beacon-report .beacon-numbers h1 {
  font-size: 3rem;
  margin: 0;
}
.beacon-report .beacon-numbers p {
  margin: 0;
}
.beacon-report .beacon-graph {
  width: 28rem;
  height: 16rem;
  background-color: #ffffff;
}
.social-report {
  background-color: #673bb6;
  width: 34rem;
  height: 34rem;
  margin: 4rem 0;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
}
.social-report .title {
  font-family: Avenir Demi;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #673bb6;
  align-items: center;
  position: absolute;
  height: 5rem;
  top: -2.5rem;
  left: 1rem;
  padding-right: 1rem;
}
.social-report .title img {
  width: 4rem;
  margin: 0 1rem;
}
.social-report .metrics {
  width: 100%;
  height: 8rem;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.social-report .metrics .flex-column {
  align-items: center;
}
.social-report .metrics img {
  height: 4rem;
  width: 4rem;
  margin: 0;
}
.social-report .metrics h1 {
  font-size: 3rem;
  margin: 0;
}
.social-report .metrics p {
  margin: 0;
}
.social-report .divider {
  height: 0.25rem;
  width: 90%;
  background-color: #ffffff;
}
.media-report {
  background-color: #ff4e4e;
  width: 34rem;
  height: 34rem;
  margin: 4rem 0;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
}
.media-report .title {
  font-family: Avenir Demi;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #ff4e4e;
  align-items: center;
  position: absolute;
  height: 5rem;
  top: -2.5rem;
  left: 1rem;
  padding-right: 1rem;
}
.media-report .title img {
  width: 4rem;
  margin: 0 1rem;
}
.media-report .metrics {
  width: 100%;
  height: 8rem;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.media-report .metrics .flex-column {
  align-items: center;
}
.media-report .metrics img {
  height: 4rem;
  width: 4rem;
  margin: 0;
}
.media-report .metrics h1 {
  font-size: 3rem;
  margin: 0;
}
.media-report .metrics p {
  margin: 0;
}
.media-report .divider {
  height: 0.25rem;
  width: 90%;
  background-color: #ffffff;
}
#introvid {
  positon: absolute;
  min-width: 100vw;
}
video {
  display: inline-block;
  vertical-align: baseline;
  height: 90%;
  width: 100%;
}
video #introvid {
  padding-bottom: 50px;
}
form {
  height: 16em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  paddingtop: 3em;
  padding-bottom: 5.5em;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 255, 255, 0.7);
}
form input {
  font-size: 1.7em ;
  opacity: 1;
}
form .username-input {
  margin-bottom: 1em;
  opacity: 1;
}
form .password-input {
  margin-bottom: 1em;
  opacity: 1;
}
button {
  width: 25.2em;
  height: 2.2em;
  background-color: #4183d7;
  color: white;
  border-color: #4183d7;
}
.loginContainer {
  position: relative;
  overflow: hidden;
}
footer {
  height: 3.5rem;
  align-items: center;
  background-color: #333333;
  z-index: 101;
  font-family: Avenir Regular;
  padding: 0 1% 0 1%;
  flex-wrap: nowrap;
  font-size: 1.4rem;
}
footer .company-links {
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
footer .company-links a {
  margin: 0 1vw 0 1vw;
  text-decoration: none;
  color: #cccccc;
}
footer .company-links a:hover {
  color: #3698db;
}
footer .company-links i {
  margin: 0 1vw 0 1vw;
  color: #cccccc;
}
footer .social-links {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
footer .social-links a {
  margin: 0 1vw 0 1vw;
  color: #cccccc;
}
footer .social-links a:hover {
  color: #3698db;
}
footer .sponsorship-links {
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
footer .sponsorship-links a {
  margin: 0 1vw 0 1vw;
}
.fa-facebook {
  color: white;
}
.fa-twitter {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #55acee;
}
.fa-instagram:hover {
  color: #3f729b;
}
.set-editor {
  z-index: 200;
}
/*Content Page*/
.first {
  height: 80vh;
  width: 80vh;
}
.second {
  height: 80vh;
  width: 80vh;
}
.revert {
  justify-content: flex-end;
}
.apply-or-revert {
  justify-content: space-around;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}
.edit-set-preview {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}
#apply {
  width: 210px;
  height: 60px;
  background-color: #33b510;
  color: white;
  border-color: #33b510;
  font-family: Avenir Demi;
  font-weight: bold;
  padding: 0;
  border: none;
  font-size: 1.4rem;
}
#revert {
  width: 210px;
  height: 60px;
  background-color: #ff4e4e;
  color: white;
  border-color: #ff4e4e;
  font-family: Avenir Demi;
  font-weight: bold;
  padding: 0;
  border: none;
  font-size: 1.8rem;
}
.edit-set-name {
  padding-left: 8%;
  font-weight: bold;
}
.edit-set-name h1 {
  width: 100%;
  font-size: 200%;
}
.edit-set-name p {
  margin: 0;
  font-size: 130%;
}
.edit-set-track {
  padding-left: 8%;
  font-weight: bold;
  height: 62vh;
}
.edit-set-track p {
  margin: 0 ;
  font-size: 130%;
}
.edit-set-track .trackiList-table {
  margin-bottom: 15%;
}
#addTrack {
  border-top: 1px solid #2ebd59;
  background: #2ebd59;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ebd59), to(#2ebd59));
  background: -webkit-linear-gradient(top, #2ebd59, #2ebd59);
  background: -moz-linear-gradient(top, #2ebd59, #2ebd59);
  background: -ms-linear-gradient(top, #2ebd59, #2ebd59);
  background: -o-linear-gradient(top, #2ebd59, #2ebd59);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #000000 0 1px 0;
  -moz-box-shadow: #000000 0 1px 0;
  box-shadow: #000000 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  height: 100%;
  width: 22.6%;
  border: none;
  color: white;
  background-color: #33b510;
  font-family: Avenir Demi;
  border-radius: 40%;
}
#addTrack:hover {
  border-top-color: #287836;
  background: #287836;
  color: #ccc;
}
#addTrack:active {
  border-top-color: #2ebd59;
  background: #2ebd59;
}
table,
th,
td {
  color: white;
  margin-top: 8%;
  border: 4px solid #bdc3cc;
}
td {
  background-color: #313542;
}
td i {
  color: red;
}
td .deleteTrack {
  border: 0;
  background-color: #bdc3cc;
  border: 5px solid #bdc3cc;
}
#change-set {
  width: 240px;
  height: 55px;
  color: black;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  font-family: Avenir Demi;
  font-weight: bold;
  padding: 0;
  border: none;
}
#linkTrack {
  font-size: 90%;
}
.moible-column {
  justify-content: space-around;
  padding-top: 3%;
  width: 100%;
  height: 40%;
  margin-bottom: 5%;
}
.moible-column .addSet {
  text-decoration: none;
  background-color: #673bb6;
  text-align: center;
  width: 43%;
  height: 80%;
  color: #ffffff;
}
.moible-column .addSet i {
  padding-top: 45px;
}
.moible-column .addSet p {
  font-size: 120%;
}
.moible-column .addSong {
  text-decoration: none;
  background-color: #3698db;
  text-align: center;
  width: 43%;
  height: 80%;
  color: #ffffff;
}
.moible-column .addSong i {
  padding-top: 45px;
}
.moible-column .addSong p {
  font-size: 120%;
}
.moible-column .fa-plus {
  font-size: 700%;
  color: #ffffff;
}
.moible-column .set-tile {
  justify-content: flex-end;
  width: 43%;
  height: 180px;
  margin-top: 3%;
}
.moible-column .set-tile .tile-info {
  height: 180px;
}
.moible-column .set-tile .tile-info .event-image {
  height: 100%;
  width: 100%;
}
.moible-column .set-tile .tile-info .tile-controls {
  height: 40%;
  width: 100%;
  margin-bottom: ;
  aliign-items: flex-end;
  background-color: rgba(150, 150, 150, 0.7);
  font-size: 1rem;
}
.moible-column .set-tile .tile-info .tile-controls > .divider {
  height: 1px;
  width: 100%;
  background-color: #cccccc;
}
.moible-set-editor {
  background-color: #ffffff;
  flex-wrap: wrap;
  overflow: auto;
  overflow: hidden;
}
.moible-set-editor #deleteSet {
  margin-top: 2%;
  margin-left: 7.5%;
  background-color: #2b2b2b;
  color: #ff4e4e;
  border: #2b2b2b;
  width: 40%;
  font-style: bold;
  font-size: 110%;
}
.moible-set-editor .edit-set-preview img {
  margin-left: 7.5%;
  width: 63%;
  height: 140%;
}
.moible-set-editor .edit-set-preview #change-set {
  margin-left: 7.5%;
  width: 63%;
  height: 55px;
  color: #333333;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  font-family: Avenir Demi;
  font-size: 100%;
  padding: 0;
  border: none;
}
.moible-set-editor .edit-set-name {
  font-weight: bold;
}
.moible-set-editor .edit-set-name h1 {
  width: 100%;
  font-size: 200%;
  margin: 0;
  margin-top: 2%;
}
.moible-set-editor .edit-set-name p {
  font-size: 130%;
}
.moible-set-editor .edit-set-name .fa-pencil {
  margin-left: 2%;
  font-size: 50%;
  color: #969696;
}
.moible-set-editor .edit-set-name #moible-edit-name {
  font-size: 50%;
  margin-left: 4%;
  color: #969696;
}
.moible-set-editor .edit-set-track {
  margin-left: .8%;
  padding-left: 8%;
  font-weight: bold;
  height: 62vh;
}
.moible-set-editor .edit-set-track p {
  margin: 0 ;
  font-size: 130%;
}
.moible-set-editor .edit-set-track .trackiList-table {
  width: 70%;
  margin-bottom: 15%;
}
.moible-set-editor .trackAdd {
  padding-top: 20px;
}
.moible-set-editor #addTrack {
  font-size: 50%;
  height: 140%;
  width: 20%;
  border: none;
  color: white;
  background-color: #33b510;
  font-family: Avenir Demi;
  border-radius: 40%;
}
.moible-set-editor table,
.moible-set-editor th,
.moible-set-editor td {
  color: white;
  margin-top: 8%;
  border: 4px solid #bdc3cc;
}
.moible-set-editor td {
  background-color: #313542;
}
.moible-set-editor td i {
  color: red;
}
.moible-set-editor td .setDelete .deleteTrack {
  border: 0;
  background-color: #bdc3cc;
  border: 5px solid #bdc3cc;
}
/*UPLAOD WIZARD CSS*/
.fa-circle-o {
  margin-left: 10px;
}
.current-page {
  text-align: center;
  padding-left: 20px;
}
#current-page {
  background-color: #313542;
  border-radius: 100%;
  text-align: center;
}
.step-tile {
  width: 764px;
  height: 506px;
  background-color: #dadfe1;
  border-radius: 10px;
}
.upload-set {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #6c7a89;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
.upload-directions {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
}
.wizard-buttons {
  height: 60px;
  border-radius: 7%;
  background-color: #313542;
  color: #22a7f0;
  border-color: #313542;
}
.step {
  margin-left: 25px;
}
.selection {
  padding-bottom: 10%;
  margin: 10px;
  text-align: center;
}
.wizard {
  height: 560px;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.wizard-input {
  text-align: center;
}
.WizardStep1 .selection {
  text-align: center;
}
.WizardStep1 .selection button {
  width: 16%;
  font-size: 1.5em;
}
.WizardStep2 .selection {
  padding-bottom: 10%;
  margin: 10px;
  text-align: center;
}
.WizardStep2 .selection button {
  width: 25%;
  font-size: 1.5em;
}
.WizardStep3 .step {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
}
.WizardStep3 .upload-directions {
  margin-bottom: 1px;
}
.WizardStep3 .selection {
  padding-bottom: .1%;
}
.WizardStep3 .selection button {
  width: 20%;
  font-size: 1.5em;
}
.WizardStep3 .wizard-input {
  width: 100%;
}
.WizardStep3 .input-page3 {
  width: 60%;
  height: 30px;
  margin-bottom: 8px;
}
.WizardStep3 .upload-directions {
  margin-top: 0px;
  padding-top: 0px;
}
.WizardStep4 .upload-directions {
  margin-bottom: 0px;
  height: 12%;
}
.WizardStep4 .wizard-buttons {
  width: 30%;
  height: 60px;
  border-radius: 7%;
  background-color: #313542;
  color: #22a7f0;
  border-color: #313542;
}
.WizardStep4 .selection {
  padding-bottom: 0%;
  margin: 10px;
  text-align: center;
}
.WizardStep4 .selection button {
  width: 25%;
  font-size: 1.5em;
}
.WizardStep4 .beacon {
  margin-bottom: 10px;
  justify-content: center;
}
.WizardStep4 #reward {
  margin-left: 12px;
  margin: 10px;
}
.WizardStep4 .free {
  justify-content: center;
}
.WizardStep5 .upload-directions {
  margin-bottom: 0px;
}
.WizardStep5 select {
  width: 60%;
  height: 30px;
  margin-bottom: 60px;
}
.WizardStep5 .beacon-location {
  text-align: center;
}
.WizardStep5 .selection {
  padding-bottom: 20px;
}
.WizardStep5 .selection button {
  width: 18%;
  font-size: 140%;
}
