// out: ./index.css

@import "colors.less";
@import "mixins.less";
@import "variables.less";
@import "fonts.less";

html {
	font-size: 16px;
	font-family: @regular;
}

body {
	margin: 0;
	overflow: auto;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}

.apply-editor {
	position: fixed;
	width: 100%;
	margin: 0;
	height: @headerHeight * 0.5;
	align-items: stretch;
	top: @headerHeight;
	z-index: 22;
	left: 0;
	color: white;
	   * {
			background-color: @dark-gray;
			border: none;
			font-size: 1rem;
		}
		*:hover {
			border-bottom: 0.25rem solid #3698db;
		}
		.apply , .revert , .cancel {
			color: @white;
			justify-content: center;
		}
}

header {
	height: @headerHeight;
	position: fixed;
	width: 100%;
	z-index: 21;
	.card(2);

	.header-main {
		width: 100%;
		.background(@white, @dark-gray);
		justify-content: space-between;
		z-index: 22;
		.logo {
			.background(@dark-gray*1.25, @white);
			font-size: 1.5rem;
			align-items: center;
			font-family: @regular;
			letter-spacing: 0.1rem;
			width: @sidebarWidth;
			img {
				width: 3rem;
			}
		}
		> h1 {
			font-size: 1.5rem;
			margin: auto 1rem;
		}
		.artist {
			align-items: center;
			.options {
				align-items: flex-end;
				justify-content: center;
				h1 {
					font-size: 2rem;
					margin: 0.5rem 0;
				}
				p {
					margin: 0;
				}
				span:hover {
					cursor: pointer;
					color: @blue;
				}
			}
			img {
				.size(40px, 40px);
				border-radius: 50%;
				margin: 0 1rem;
				border: solid 3px @blue;
			}
		}
	}
}

#NavBar {
	height: @pageHeight;
	width: @sidebarWidth;
	font-size: 1rem;
	.background(@dark-gray, @white);
	.card(3);
	a {
		align-items: center;
		&:hover {
			.background(@dark-gray*0.9, @light-gray);
		}
		&.active {
			.background(@dark-gray*0.8, white);
			border-left: solid 5px @blue;
		}
	}
	h3 {
		margin: 1rem;
	}
	i {
		margin: auto 1vw auto 1rem;
		font-size: 1.5rem;
	}
}

.view-container {
	margin-top: @headerHeight;
	min-height: @pageHeight;
	>.loadedContent {
		width: @pageWidth - @sidebarWidth;
	}
}

.main-container {
	height: @windowHeight;
	background: @white;
}

/*************

	Metrics Views

*************/

.graph {
	display: flex;
	justify-content: center;
	margin: 2rem;
	.linechart {
		height: 16rem!important;
		width: 100%!important;
	}
}
.metrics-page {
	background-color: @white;
	min-height: @pageHeight;
	align-items: center;
	width: @pageWidth - @sidebarWidth;
}
.metrics-panel {
	background: @light-gray;
	width: 60%;
	height: 75vh;
	margin: 5vw;
	position: relative;
	.card(2);
	.loadedContent {
		.flex-column;
		.flex;
	}
	.numbers {
		width: 40%;
		height: 5rem;
		text-transform: uppercase;
		background: @white;
		margin-left: 1rem;
		cursor: pointer;
		.card(1);
		.transition();
		.toggle {
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
			&.plays {
				color: @purple;
			}
			&.profileviews, &.unlockedsets {
				color: @blue;
			}
			&.favorites {
				color: @green;
			}
			&.revenue {
				color: @purple;
			}
		}
		.deactivated {
			background: @light-gray;
			color: @gray!important;
		}
		h1 {
			font-size: 2rem;
			margin: 0;
		}
		p {
			color: @gray;
			margin: 0;
			font-size: 0.75rem;
		}
		.mobile({
			width: 70%;
		}, 580px);
	}
	.title {
		font-family: @demi;
		font-size: 1.5rem;
		background-color: @white;
		align-items: center;
		position: absolute;
		height: 5rem;
		top: -2.5rem;
		left: 1rem;
		padding-right: 1rem;
		cursor: default;
		.card(2);
		img {
			width: 4rem;
			margin: 0 1rem;
		}
		i {
			font-size: 4rem;
			margin: auto 1rem;
		}
	}
	.mobile({
		width: 90%;
	}, 910px);
}
.not-found {
	margin: auto;
	color: @dark-gray;
	font-family: @regular;
	font-size: 1.25rem;
}
.report-inner {
	margin-top: 5rem;
	position: relative;
	justify-content: space-between;
}
.time-selector {
	.background(@white, @dark-gray);
	position: absolute;
	right: 2.5rem;
	top: 2.5rem;
	z-index: 9;
	height: 2.5rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: @condensed;
	cursor: pointer;
	.card(1);
	p {
		.flex-container;
		margin: 0;
		padding: 1vw;
		&:hover {
			color: @blue;
		}
		&.active {
			.background(@blue, @white);
			.transform(scaleY(1.1));
			.transition();
		}
		span {
			margin: auto;
		}
	}
	.mobile({
		left: 1rem;
		right: auto;
	}, 580px);
}

#SetmineReport {
	.title {
		color: @blue;
	}
}

#BeaconReport {
	.title {
		color: @green;
	}
}

#SoundcloudReport {
	.title {
		color: @soundcloud-orange;
	}
	.numbers {
		.plays {
			color: @soundcloud-orange;
		}
		.followers {
			color: @blue;
		}
	}
}

#YoutubeReport {
	.title {
		color: @red;
	}
	.numbers {
		.plays {
			color: @red;
		}
		.followers {
			color: @blue;
		}
	}
}

#SocialReport {
	.size(90%, inherit);
	.title {
		color: @purple;
	}
	.loadedContent {
		.flex-row;
	}
	.panel {
		margin: 4rem 1rem 2rem;
		padding: 1rem;
		text-align: center;
		text-transform: uppercase;
		.background(@white, @dark-gray);
		.card(1);
		.divider {
			margin: 1rem auto;
			.createDivider(90%, 3px, @dark-gray);
		}
		h1 {
			font-size: 5rem;
			margin: auto;
		}
		i {
			font-size: 3rem;
			&.fa-facebook {
				color: @facebook-blue;
			}
			&.fa-twitter {
				color: @twitter-blue;
			}
			&.fa-instagram {
				color: @instagram-blue;
			}
		}
	}
	.mobile({
		.loadedContent {
			.flex-column;
		}
		.panel {
			margin: 1rem;
			&:nth-child(1) {
				margin-top: 4rem;
			}
		}
	}, 660px);
}

#introvid{
	positon: absolute;
	min-width: 100vw;
}
video{
	display: inline-block;
	vertical-align: baseline;
	height: 90%;
	width: 100%;

	#introvid{
		padding-bottom: 50px;
	}
}

form{
   height: 16em;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   padding: 2em;
   padding top: 3em;
   padding-bottom: 5.5em;


	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color:rgba(255,255,255, 0.7);


   input{
	font-size:1.7em ;
	opacity: 1;

   }

	.username-input{
		margin-bottom:1em;
		opacity: 1;


	}
	.password-input{
		margin-bottom: 1em;
		opacity: 1;
	}

}

.loginContainer{
	position: relative;
	overflow:hidden;
}

footer {
	.flex-column;
	position: relative;
	.background(@light-gray, @dark-gray);
	padding: 3vh;
	z-index: 3;
	h4 {
		margin: 0;
		text-align: center;
	}
	span {
		margin-left: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
		> * {margin:0.5rem;}
	}
	.copyright {
		margin: 1rem 0;
	}
	.sponsors, .links, .social {
		margin: 0 1rem;
	}
	.large({
		.flex-row;
		.social{.center;}
		.sponsors {margin: 0 1rem;}
	}, 500px);
}

/*Content Page*/

table, th, td {
	color: white;
	margin-top: 8%;
	border: 4px solid #bdc3cc;
}
td{
	i{
		color: red;
	}
	background-color: #313542;
	.deleteTrack{
		border: 0;
		background-color: #bdc3cc;
		 border: 5px solid #bdc3cc;
	}
}

	
	



.warning-border {
	border: 0.125rem solid @red;
}

#change-set{
	width: 240px;
	height: 55px;
	color: black;
	background-color: #bdc3c7;
	border-color:  #bdc3c7;
	font-family: @demi;
	font-weight: bold;
	padding: 0;
	border: none;
}
#linkTrack{
	font-size: 90%;
}
.set-tile{
	.size(23vw, 25vh);
	background-size: 100% 100%;
	margin: 2vh 1vw;
	position: relative;
	z-index: 1;
	font-size: 1rem;
	cursor: pointer;
	.card(1);
	.tile-controls {
		z-index: 3;
		background-color: fade(@dark-gray, 70%);
		font-size: 1rem;
		color: @white;
		width: 100%;
		height: 60%;
		position: absolute;
		bottom: 0px;
		.divider {
			.createDivider(100%, 1px, @white);
		}
		.set-info {
			justify-content: space-around;
			align-items: center;
		}
		.set-stats {
			align-items: stretch;
			.play-count {
				border-right: 1px solid @white;
				align-items: center;
				justify-content: center;
			}
			.set-length {
				align-items: center;
				justify-content: center;
			}
		}
	}
	&:hover {
		.transition();
		.transform(scale(1.05));
		.card(3);
	}
}

//
#map {
	height: 25rem;
	width: 100%;
}
.mobile-set-editor{
	background-color: @white;
	margin-top: @headerHeight * 1.5;
	margin-bottom: 3em;
	min-height: 57rem;
	align-items: flex-start;
	padding: 2rem 3rem;


	
	.edit-set-name{
		align-items: center;
		font-family: @bold;
		flex-wrap: nowrap;
		font-size: 2.5em;
		margin-right: 400px;
		.event-title {
			font-size: 2.25rem;
			margin: 0;
		}
		.edit-button {
			font-size: 1.5rem;
			text-transform: uppercase;
			margin: 0 0 0 1rem;
			color: @dark-gray;
			font-family: @condensed;
		}
		input{
			height: 35px;
			align-items: center;
			font-family: Avenir Pro Bold;
			font-size: 26px;

		}
	}
	.edit-episode-name {
		align-items: center;
		flex-wrap: nowrap;
		.episode-name , .edit-button , .uploaded-date{
			font-size: 1.5em;
		}
		.episode-name  {
			margin: 0;
		}
		.edit-button {
			
			text-transform: uppercase;
			margin: 0 0 0 1rem;
			color: @dark-gray;
			font-family: @condensed;
		}
	}
	.uploaded-date {
		margin: 1rem 0;
	   
	}
	.set-tile-preview {
		margin: 4rem 0;
		.set-tile {
			height: 25rem;
			width: 25rem;
			margin: 0;
			.artist-image {
				top: 12rem;
				height: 5rem;
				width: 5rem;
			}
		}
		.upload-image {
			margin: 1rem 0 0 0;
			height: 4rem;
			width: 25rem;
			font-size: 1rem;
			font-family: @regular;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			background-color: @dark-gray;
			p {
				color: @white;
				margin: 0;
			}
		}
	}
	/*Track List Table*/
	table{
		border-color: @dark-gray;
		text-align: center;
		background-color: @dark-gray;
	}
	table, th, td {
		margin-top: 8%;
	}
	
	td{
		i {
			color: red;
		}
	}

	.edit-set-track{
		h1{
			margin: 10px;
		}

		button{
		   
			width: 60px;
			height: 30px;
			font-family: Avenir Demi;
		}

		.urlTracklist{
			margin: 6px;
			color: @blue;
			button{
				color: white;
				background-color: @blue;
				
				border-radius: 12px;
				 margin-left: 10px;
			}
			input{
				background-color: white;
					border: 2px inset;

			}
		}
		button{
			background: transparent;
			border: transparent;

			.fa-times{
				font-size: 25px;
			}
		}
		input, textarea , table , th , td{
			background-color: @dark-gray;
		}
		input{
			border: none;
			border-color: transparent;
		}
		input:focus, select:focus, textarea:focus{
			outline-color:@light-gray;
		}
		input, select, textarea{
			color: white;
			font-family:  Avenir Demi;
			 text-align: center;
		}
	   .trackList-table{
			width: 70%;   
			margin-bottom: 15%;
			}
}

	.trackAdd{
		padding-top: 20px;
	}
		 
		table, th, td {
			
			margin-top: 8%;
			border: none;
			color: none;
		 }
}


#UploadSetWizard {
	background-color: @white;
	padding: 2rem 3rem;
	audio {
		display: none;
	}

	.step-counter {
		font-size: 2rem;
		font-family: @regular;
		color: @dark-gray;
		text-align: center;
		margin: 0;
	}
	.back-arrow {
		font-size: 1rem;
		text-transform: uppercase;
		margin: 0.5rem 0;
	}
	.wizard-body {
		margin: 1rem 0;
		color: @dark-gray;

		.wizard-step {
			align-items: center;
			.map-window {
				height: 15rem;
				width: 15rem;
				border: 0.25rem solid @blue;
				background-color: @green;
			}
			td {
				background-color: transparent;
			}
			input:invalid {
				border: 0.125rem solid @red;
			}

			.step-info {
				font-size: 1.5rem;
				margin: 0;
			}

			.upload-music {
				margin: 1rem 0 0 0;
				height: 4rem;
				width: 25rem;
				font-size: 1rem;
				border: 4px dotted @purple;
				font-family: @regular;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				p {
					margin: 0;
				}
			}

			.step-button-text {
				margin: 1rem 0;
				width: 80%;
				border: none;
				* {
					border: none;
					padding: 0.5rem 0.5rem;
					color: @dark-gray;
				}
			}

			.image-preview {
				height: 16rem;
				width: 16rem;
				border: 0.25rem solid @blue;
			}

			.venue-search {
				height: 20rem;
				width: 100%;
				background-color: @light-gray;
				flex-wrap: nowrap;
				overflow-x: hidden;
				overflow-y: scroll;
				.venue-listing {
					width: 100%;
					height: 4rem;
					align-items: stretch;
					background-color: @light-gray;
					color: @white;
					h1 {
						font-size: 1.5rem;
						margin: 0;
					}
					p {
						font-size: 1rem;
						margin: 0;
					}
					.venue-add {
						align-items: center;
						justify-content: center;
						width: 4rem;
						background-color: @white;
						i {
							font-size: 1.5rem;
						}
					}

				}
			}

			.step-buttons {
				align-items: center;
				justify-content: center;
			}

			.outlet-button {
				width: 10rem;
				height: 10rem;
				text-transform: uppercase;
				background-color: @gray;
				color: @white;
				align-items: center;
				justify-content: center;
				flex-wrap: nowrap;
				box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 10px #193047;
				cursor: pointer;
				i {
					font-size: 5rem;
				}
				p {
					font-size: 1rem;
					margin: 0;
				}
			}
			.deactivated {
				color: @light-gray;
				box-shadow: inset 0 0 0 1px #27496d;
			}

			.step-button {
				font-size: 1.5rem;
				background-color: @light-gray;
				color: @blue;
				height: 4rem;
				width: 8rem;
				&:disabled {
					background-color: @light-gray !important;
					color: @gray !important;
				}
			}

			.preview-column {
				justify-content: center;
			}
			.preview-player {
				width: 24rem;
				align-items: stretch;
			}
			.preview-track {
				background-color: @gray;
				height: 2rem;
				width: 24rem;
				align-items: center;
				p {
					color: @white;
				}
			}
		}
	}

	// .edit-set-name{
	//     align-items: center;
	//     font-family: @bold;
	//     flex-wrap: nowrap;
	//     .event-title {
	//         font-size: 2.25rem;
	//         margin: 0;
	//     }
	//     .edit-button {
	//         font-size: 1.5rem;
	//         text-transform: uppercase;
	//         margin: 0 0 0 1rem;
	//         color: @dark-gray;
	//         font-family: @condensed;
	//     }
	// }
	// .edit-episode-name {
	//     align-items: center;
	//     flex-wrap: nowrap;
	//     .episode-name {
	//         font-size: 1.5rem;
	//         margin: 0;
	//     }
	//     .edit-button {
	//         font-size: 1.5rem;
	//         text-transform: uppercase;
	//         margin: 0 0 0 1rem;
	//         color: @dark-gray;
	//         font-family: @condensed;
	//     }
	// }
	// .uploaded-date {
	//     margin: 1rem 0;
	//     font-size: 1.5rem;
	// }
	// .set-tile-preview {
	//     margin: 4rem 0;
	//     .set-tile {
	//         height: 25rem;
	//         width: 25rem;
	//         margin: 0;
	//         .artist-image {
	//             top: 12rem;
	//             height: 5rem;
	//             width: 5rem;
	//         }
	//     }
	//     .upload-image {
	//         margin: 1rem 0 0 0;
	//         height: 4rem;
	//         width: 25rem;
	//         font-size: 1rem;
	//         border: 4px dotted @purple;
	//         font-family: @regular;
	//         align-items: center;
	//         justify-content: center;
	//         box-sizing: border-box;
	//         p {
	//             margin: 0;
	//         }
	//     }
	// }
}
.invisible {
	visibility: hidden;
}

.warning {
	color: @red !important;
}
.approved {
	color: @green !important;
}

.mobile-settings-editor{
	background-color: @white;
	margin-top: @headerHeight * 1.5;
	min-height: 57rem;
	align-items: flex-start;
	padding: 2rem 3rem;

   
	.artist-name {
		font-size: 2.25rem;
		font-family: @bold;
	}
	.artist-image {
		margin: 4rem 0;
		img {
			height: 24rem;
			width: 24rem;
			border-radius: 50%;
			border: 1.5rem solid @blue;
			box-sizing: border-box;
		}
	}
	.upload-image {
			margin: 1rem 0 0 0;
			height: 4rem;
			width: 25rem;
			font-size: 1rem;
			font-family: @regular;

			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			background-color: @dark-gray;
			p {
				color: @white;
				margin: 0;
			}
		}
	.password-change{
		input{
			width: 130%;
		}
	}
	input, select, textarea{
			color: white; 
	}           
	input{
		width: 520px;
		height: 30px;
		background-color: @light-gray;
		border: transparent;

	}
}

.applying-changes-overlay {
	background-color: @dark-gray;
	left: 0px;
	top: 0px;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 50;
	color: @white;
	font-size: 2rem;
	font-family: @bold;
	align-items: center;
	justify-content: center;
}

 #addTrack{
		font-size: 50%;
		height: 30px;
		width: 20%;
		border: none;
		color: white;
		background-color: #33b510; 
		font-family: @demi;
		border-radius:  12px;
		
		   }

// .SettingPage{
//     width: 100%;
//     height: 100%;
//     background-color: @light-gray;

//     input[type="text"], textarea {
//         background-color : #313542;
//      }

//     input, select, textarea{
//         color: @white;
//     }

//     .PasswordChange{
//         margin-left: 10px;
//         margin-bottom: 40px;
//         .Artist-name{
//              margin-bottom: 37px;
//         }
//         input{
//             margin-left: 1px;
//             width: 70%;
//             height: 40px;
//         }

//         h1{
//             font-weight: bolder;
//             margin-top:20px;
//             margin-bottom: 0;
//             height: 20px;
//         }

//         .settingImage{
//              box-shadow: none;
//              border: none;
//             #change-set {
//                 width: 274px;
//             }
//             img{
//                 margin-top: 30px;
//                 width: 90%;
//                 height: 200px;
//             }
//         }
//     }

//     .socialmedia{
//         margin-bottom: 20px;

//         p{
//               margin-left: 10px;
//         }
//         input{
//             margin-left: 10px;
//             margin-right: 10px;
//             width: 94%;
//             height: 40px;
//         }
//     }
// }

// .WizardStep4{
//     .upload-directions {
//     margin-bottom: 0px;
//     height: 12%;

// }
//     .wizard-buttons{
//   width: 30%;
//   height: 60px;
//   border-radius: 7%;
//   background-color: #313542;
//   color:#22a7f0;
//   border-color: #313542;
//  }
//  .selection{
//        padding-bottom: 0%;
//         margin: 10px;
//         text-align: center;

//         button{
//             width: 25%;
//             font-size: 1.5em;

//         }
//     }
// .beacon{
//    margin-bottom: 10px;
//    justify-content: center;
//  }
//  #reward{
//     margin-left: 12px;
//     margin:10px;
//  }
//  .free{
//     justify-content: center;
//  }
//  #immediately{

//  }


// }

// .WizardStep5{
//     .upload-directions {
//     margin-bottom: 0px;

//      }
//      select{
//         width: 60%;
//         height: 30px;
//         margin-bottom: 60px;
//      }
//     .beacon-location{
//         text-align: center;
//     }
//     .selection{
//        padding-bottom: 20px;

//         button{
//             width: 18%;
//             font-size: 140%;



//         }
//     }
// }


// .SetstoryLandingPage{
//     width: 100%;
//     height: 100%;



//     .mainLandingPage{
//         background-image: url("/public/images/MainLoginPage.png");

//         width: 1582px;
//         height: 599px;

//     }
//     .brady{


//         .drake{
//        justify-content: center;
//        align-item: center;
//         width: %;
//         height: %;
//         img{
//              width: 200px;
//             height: 180px;

//         }
//     }
//     }
//     .cartman{

//     }
//     #setstoy-landing{
//         z-index: -100;
//     }

//     .hub{
//         color: white;
//        margin-left: 50px;
//         font-size: 300%;
//         p{
//             margin: 0;
//         }
//     }
//     .fa-apple{
//          margin: 0 20px;
//         font-size: 600%;
//     }
//     .fa-android{
//         padding-left: 50px;
//          margin: 0 20px;
//         font-size: 600%;

//     }
//     .setstory-apps{
//         color: white;
//         margin-right: 100px;
//         justify-content: flex-end;

//     }


//      /*Bottom Landing Page*/
//     .secondLanding{

//         background-image: url("/public/images/Setstory-boss.png");
//          width: 1582px;
//         height: 599px;
//     .boss{
//         width: 791px;
//         height: 599px;

//         color: white;

//         h1{
//             font-size: 58px;
//             margin: 10px;
//         }
//         p{
//             margin: 0;
//             font-size: 35px;
//             height: 90px;
//             width: 100%;


//         }

//     }
//     .ghost{

//         width: 791px;
//         height: 599px;
//     }
// }
// }


// .SettingPage{
//     width: 100%;
//     height: 100%;
// }

/*UPLAOD WIZARD CSS*/
// .fa-circle-o{
//     margin-left: 10px;
// }
//  .current-page{
//      margin: 0 20px;
//     text-align: center;

//  }
//  #current-page{
//     background-color: #313542;
//     border-radius: 80%;
//     text-align: center;
//  }
//  .step-tile{
//     width: 764px;
//     height: 506px;
//     background-color: #dadfe1;
//     border-radius: 10px;
//  }
//  .upload-set{
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     background-color: #6c7a89;
//     color: white;
//     text-align: center;
//     font-size: 1.5em;
//  }
//  .upload-directions{
//     margin-bottom: 20px;
//     text-align: center;
//     font-size: 1.5em;
//  }
//  .wizard-buttons{
//   height: 60px;
//   border-radius: 7%;
//   background-color: #313542;
//   color:#22a7f0;
//   border: none;
//   box-shadow: 0px 5px 6px #909394;
//  }
//  .step{
//     margin-left: 25px;
//  }
//  .selection{
//        padding-bottom: 10%;
//         margin: 10px;
//         text-align: center;
//  }
//  .wizard {
//     height: 560px;
//     width: 100%;
//     background-color: @white;
//     justify-content: center;
//     align-items: center;
//  }
//  .wizard-input{
//     text-align: center;
//  }

// .WizardStep1{

//     .selection{
//         text-align: center;

//         button{
//             margin: 0 20px;
//             width: 16%;
//             font-size: 1.5em;
//         }
//     }
// }

// .WizardStep2{

//     .selection{
//        padding-bottom: 10%;
//         margin: 10px;
//         text-align: center;

//         button{
//             width: 25%;
//             font-size: 1.5em;
//         }
//     }
// }

// .WizardStep3{
//     .step{
//         margin-top: 15px;
//         margin-bottom: 15px;
//         margin-left: 25px;
//     }
//     .upload-directions{
//         margin-bottom: 1px;
//     }
//     .selection {
//        padding-bottom: .1%;
//        button {
//             width: 20%;
//             font-size: 1.5em;
//         }
//     }
// }
//     .wizard-input{
//         width: 100%;
//     }
//     .input-page3{
//        width: 60%;
//        height: 30px;
//        margin-bottom: 8px;
//     }
//     .upload-directions{
//         margin-top: 0px;
//         padding-top: 0px;
//     }
// }



// .edit-set-track{

	//     margin-left: .8%;
	//     padding-left: 8%;
	//     font-weight: bold;
	//     height: 420px;


	//     p{
	//         margin:0 ;

	//         font-size: 130%;
	//     }
	//     .trackiList-table{
	//      width: 70%;

	//      margin-bottom: 15%;
	//     }
	// }

	// .trackAdd{
	//     padding-top: 20px;
	// }
	//   #addTrack{
	//     font-size: 50%;
	//     height: 140%;
	//     width: 20%;
	//     border: none;
	//     color: white;
	//     background-color: #33b510;
	//     font-family: @demi;
	//     border-radius:  40%;
	//     }
	// table, th, td {
	//     color: white;
	//     margin-top: 8%;
	//     border: 4px solid #bdc3cc;

	// }
	// td{
	//     i{
	//         color: red;
	//     }
	//     background-color: #313542;

	//     .deleteTrack{

	//         border: 0;
	//         background-color: #bdc3cc;
	//          border: 5px solid #bdc3cc;
	//     }
	//  }
	//  .setDelete{


	
	//  .setDelete{ 

	//       height: 80px;
	//       margin: 20px;
	// }
		// .deleteSet{

	// }
	// #deleteSet{
	//     margin-top: 2%;
	//     margin-left: 7.5%;
	//     background-color: @dark-gray;
	//     color: @red;
	//     border: @dark-gray;
	//     width: 40%;


	//     font-style: bold;
	//     font-size: 110%;
	// }

	// .edit-set-preview{


	//   img{
	//     margin-left: 7.5%;
	//     width: 63%;
	//     height: 140%;
	//   }
	//  #change-set{
	//      margin-left: 7.5%;
	//     width: 63%;
	//     height: 55px;
	//     color: @light-gray;
	//     background-color: #bdc3c7;
	//     border-color:  #bdc3c7;
	//     font-family: @demi;
	//     font-size: 100%;
	//     padding: 0;
	//     border: none;
	//     }
	// }
