@import "colors.less";
@import "mixins.less";
@import "overlays.css";
@import "variables.less";
@import "fonts.less";

html {
    font-size: 16px;
    font-family: @defaultFontStyle;
}

body {
    margin: 0;
    overflow: auto;
}

header {
    height: @headerHeight * 1.5;
    position: fixed;
    width: 100%;
    z-index: 10;
    .header-main {
        width: 100%;
        background-color: @setrecords-light-black;
        color: @setrecords-white;
        justify-content: space-between;
        z-index: 12;
        .logo {
            font-size: 2rem;
            align-items: center;
            font-family: @boldFontStyle;
            img {
                width: 4rem;
                margin: 0 1rem;
            }
        }
        .artist {
            align-items: center;
            .options {
                align-items: flex-end;
                justify-content: center;
                h1 {
                    font-size: 2rem;
                    margin: 0.5rem 0;
                }
                p {
                    margin: 0;
                }
            }
            img {
                height: 4rem;
                border-radius: 50%;
                margin: 0 1rem;
                border: 0.4rem solid @setrecords-blue;
            }
        }        
    }
    .nav-bar {
        width: 100%;
        background-color: @setrecords-dark-gray;
        font-size: 1.5rem;
        z-index: 11;
        a {
            text-decoration: none;
            color: @setrecords-black;
            align-items: center;
            justify-content: center;
            &:hover {
                color: @setrecords-blue;
            }
            &.active {
                color: @setrecords-white;
                border-bottom: 0.25rem solid @setrecords-blue;
            }
        }
    }
}

.view-container {
    background-color: @setrecords-purple;
    margin-top: @headerHeight * 1.5;
}

.content-page {
    min-height: 57rem;
}

.set-list {
    background-color: @setrecords-light-gray;
    height: 100%;
    overflow: auto;
}

.set-editor {
    background-color: @setrecords-light-gray;
    font-family: @demiFontStyle;
}

.set-tile {
    width: auto%;
    height: auto%;
    position: relative;
    margin: auto;
}

.tile-info {
        color:white;
        height: 50%;
        width: 100%;
        .artist-image {
            height: 80%;
            border-radius: 50%;
            border: solid 4px @set-blue;
            z-index: 4;
            position: absolute;
            left:25%;
            top:-20%;
        }
        .overlay {
            .createOverlay(0%);
        }
        .event-image {
            height: 100%;
            width: 86%;
            position: absolute;
        }
        .tile-controls {
            background-color: fade(@setrecords-dark-gray, 70%);
            font-size: 1rem;
            >.divider {
                .createDivider(100%, 1px, @setrecords-gray);
            }
            .flex-row .divider {
                .createDivider(1px, initial, @setrecords-gray);
            }
        }
        .set-info {
            padding: 1vh;
            width:50%;
        }
}

.metrics-page {
    background-color: @setrecords-gray;
    min-height: 57rem;
    align-items: center;
}

.setmine-report {
    background-color: @setrecords-blue;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5rem;
    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-blue;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
    .setmine-numbers {
        width: 34rem;
        height: 6rem;
        text-transform: uppercase;
        .plays {
            color: @setrecords-white;
            align-items: center;
            flex-wrap: nowrap;
        }
        .profileviews {
            color: @setrecords-yellow;
            align-items: center;
            flex-wrap: nowrap;
        }
        .favorites {
            color: @setrecords-green;
            align-items: center;
            flex-wrap: nowrap;
        }
        h1 {
            font-size: 3rem;
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .setmine-graph {
        width: 28rem;
        height: 16rem;
        background-color: @setrecords-white;
    }
}

.beacon-report {
    background-color: @setrecords-green;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5rem;
    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-green;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
    .beacon-numbers {
        width: 34rem;
        height: 6rem;
        text-transform: uppercase;
        justify-content: center;
        .revenue {
            color: @setrecords-white;
            align-items: center;
            flex-wrap: nowrap;
        }
        .unlockedsets {
            color: @setrecords-yellow;
            align-items: center;
            flex-wrap: nowrap;
        }
        h1 {
            font-size: 3rem;
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .beacon-graph {
        width: 28rem;
        height: 16rem;
        background-color: @setrecords-white;
    }
}

.social-report {
    background-color: @setrecords-purple;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5rem;

    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-purple;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
    .metrics {
        width: 100%;
        height: 8rem;
        color: @setrecords-white;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        .flex-column {
            align-items: center;
        }
        img {
            height: 4rem;
            width: 4rem;
            margin: 0;
        }
        h1 {
        font-size: 3rem;
        margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .divider {
        .createDivider(90%, 0.25rem, @setrecords-white);
    }
}
.media-report {
    background-color: @setrecords-red;
    width: 34rem;
    height: 34rem;
    margin: 4rem 0;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;

    .title {
        font-family: @demiFontStyle;
        font-size: 1.5rem;
        background-color: @setrecords-white;
        color: @setrecords-red;
        align-items: center;
        position: absolute;
        height: 5rem;
        top: -2.5rem;
        left: 1rem;
        padding-right: 1rem;
        img {
            width: 4rem;
            margin: 0 1rem;
        }
    }
    .metrics {
        width: 100%;
        height: 8rem;
        color: @setrecords-white;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        .flex-column {
            align-items: center;
        }
        img {
            height: 4rem;
            width: 4rem;
            margin: 0;
        }
        h1 {
        font-size: 3rem;
        margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .divider {
        .createDivider(90%, 0.25rem, @setrecords-white);
    }
}


#introvid{
    positon: absolute;
    min-width: 100vw;
    
}
video{
    display: inline-block;
    vertical-align: baseline;
    height: 90%;
    width: 100%;

    #introvid{
        padding-bottom: 50px;
    }


}

form{
   height: 16em; 
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   padding: 2em;
   padding top: 3em;
   padding-bottom: 5.5em;
  
   
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color:rgba(255,255,255, 0.7);   
     

   input{
    font-size:1.7em ;
    opacity: 1;

   }
   
    .username-input{
        margin-bottom:1em;
        opacity: 1;


    }
    .password-input{
        margin-bottom: 1em;
        opacity: 1;
    }

}
button{
   width: 25.2em;
    height: 2.2em;
    background-color: #4183d7; 
    color:white;
    border-color: #4183d7; 


  
    
}

.loginContainer{
    position: relative;
    overflow:hidden;
}

footer{
    height: 0.5 * @headerHeight;
    align-items: center;
    background-color: @setrecords-light-black;
    z-index: 101;
    font-family: @defaultFontStyle;
    padding: 0 1% 0 1%;
    flex-wrap: nowrap;
    font-size: 0.2 * @headerHeight;


    .company-links {
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        a {
            margin: 0 1vw 0 1vw;
            text-decoration: none;
            color: @setrecords-gray;
            &:hover {
                color: @setrecords-blue;
            }
        }
        i {
            margin: 0 1vw 0 1vw;
            color: @setrecords-gray;
        }
    }

    .social-links {
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        a {
            margin: 0 1vw 0 1vw;
            color: @setrecords-gray;
            &:hover {
                color: @setrecords-blue;
            }
        }
    }

    .sponsorship-links {
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        a {
            margin: 0 1vw 0 1vw;
        }
    }

   }  
.fa-facebook{color:white;}
.fa-twitter{color:white;}
.fa-instagram{color:white;}
.fa-facebook:hover{color:@facebook-blue;}
.fa-twitter:hover{color:@twitter-blue;}
.fa-instagram:hover{color:@instagram-blue;}
.set-editor{
    z-index: 200;
}
/*Content Page*/

.first{
    
    height: 80vh;
    width: 80vh;
}
.second{
    height:  80vh;
    width:  80vh;
}

.revert{
    justify-content:flex-end;
}
.apply-or-revert{
    
    justify-content: space-around;
    align-items:center;
    padding-left: 7%;
    padding-right: 7%;
}
.edit-set-preview{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;

}


#apply{
  width: 210px;
    height: 60px;
    background-color: #33b510; 
    color:white;
    border-color: #33b510;
    font-family: @demiFontStyle; 
    font-weight: bold;
    padding: 0;
    border: none;
    font-size: 1.4rem;

}
#revert{
     width: 210px;
    height: 60px;
    background-color: #ff4e4e; 
    color:white;
    border-color: #ff4e4e; 
    font-family: @demiFontStyle;
    font-weight: bold;
    padding: 0;
    border: none;
    font-size: 1.8rem;
    
}
.edit-set-name{
    h1{
        width: 100%;
        font-size: 200%;
    }      
    padding-left: 8%;
    font-weight: bold;
    p{
        margin:0;
        
        font-size: 130%;
    }
}
.edit-set-track{

    
    padding-left: 8%;
    font-weight: bold;
    height: 62vh;

   
    p{
        margin:0 ;
        
        font-size: 130%;
    }
    .trackiList-table{
     margin-bottom: 15%;
    }
}


  #addTrack{

   border-top: 1px solid #2ebd59;
   background: #2ebd59;
   background: -webkit-gradient(linear, left top, left bottom, from(#2ebd59), to(#2ebd59));
   background: -webkit-linear-gradient(top, #2ebd59, #2ebd59);
   background: -moz-linear-gradient(top, #2ebd59, #2ebd59);
   background: -ms-linear-gradient(top, #2ebd59, #2ebd59);
   background: -o-linear-gradient(top, #2ebd59, #2ebd59);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   height: 100%;
    width: 22.6%;
     
     border: none;
     color: white;
     background-color: #33b510; 
     font-family: @demiFontStyle;
    border-radius:  40%;
   }
#addTrack:hover {
   border-top-color: #287836;
   background: #287836;
   color: #ccc;
   }
#addTrack:active {
   border-top-color: #2ebd59;
   background: #2ebd59;
   }

    
    
table, th, td {
    color: white;
    margin-top: 8%;
    border: 4px solid #bdc3cc;

}
td{
    i{
        color: red;
    }
    background-color: #313542;
    .deleteTrack{
        border: 0;
        background-color: #bdc3cc;
         border: 5px solid #bdc3cc;
    }
}

#change-set{
    width: 240px;
    height: 55px;
    color: black;
    background-color: #bdc3c7;
    border-color:  #bdc3c7;
    font-family: @demiFontStyle;
    font-weight: bold;
    padding: 0;
    border: none;
   
}
#linkTrack{
  
    font-size: 90%;

}


.moible-column{
    justify-content: space-around;
    padding-top:3%;
    width: 100%;
    height: 40%;
    margin-bottom: 5%;

    .addSet{
        text-decoration: none;
        background-color: @setrecords-purple;
        text-align: center;
        width: 43%;
        height:80%;
        color: @setrecords-white;
            i{
               padding-top: 45px;
            }
            p{
                font-size: 120%;
            }

    }
    .addSong{
        text-decoration: none;
        background-color: @setrecords-blue;
        text-align: center;
        width: 43%;
        height:80%;
        color: @setrecords-white;
            i{
               padding-top: 45px;
            }
            p{
                font-size: 120%;
            }

    } 
    .fa-plus{
        font-size: 700%;
        color: @setrecords-white;
    }

    .set-tile{
       justify-content: flex-end;
       width: 43%;
       height: 180px;
       margin-top: 3%;

       .tile-info{
         height: 180px;
            .event-image{
                height: 100%;
                width: 100%;
            }
            .tile-controls {
                height: 40%;
                width: 100%;
                margin-bottom: ;
                aliign-items: flex-end;
                background-color: fade(@setrecords-dark-gray, 70%);
                font-size: 1rem;
                >.divider {
                 .createDivider(100%, 1px, @setrecords-gray);
                }
            }
        }
    }    
}

.moible-set-editor{
    
     background-color: @setrecords-white;
    flex-wrap: wrap;
    overflow: auto;
    overflow: hidden;
    .deleteSet{
        
    }
    #deleteSet{
        margin-top: 2%;
        margin-left: 7.5%;
        background-color: @setrecords-black;
        color: @setrecords-red;
        border: @setrecords-black;
        width: 40%;
       

        font-style: bold;
        font-size: 110%;
    }
      
    .edit-set-preview{

        
      img{
        margin-left: 7.5%;
        width: 63%;
        height: 140%;
      }
     #change-set{
         margin-left: 7.5%;
        width: 63%;
        height: 55px;
        color: @setrecords-light-black;
        background-color: #bdc3c7;
        border-color:  #bdc3c7;
        font-family: @demiFontStyle;
        font-size: 100%;
        padding: 0;
        border: none;
        }
    }

    .edit-set-name{
        h1{
            width: 100%;
            font-size: 200%;
            margin: 0;
            margin-top: 2%;
        
        }      
      
        font-weight: bold;

        p{
          
            
            font-size: 130%;
        }
        .fa-pencil{
            margin-left:2%;
            font-size: 50%;
             color: @setrecords-dark-gray;

        }
        #moible-edit-name{
          
        font-size: 50%;
        margin-left: 4%;
        color: @setrecords-dark-gray;

        }
    }
    .edit-set-track{

        margin-left: .8%;
        padding-left: 8%;
        font-weight: bold;
        height: 62vh;

       
        p{
            margin:0 ;
            
            font-size: 130%;
        }
        .trackiList-table{
         width: 70%;   
          
         margin-bottom: 15%;
        }
    }

    .trackAdd{
        padding-top: 20px;
    }
      #addTrack{
        font-size: 50%;
        height: 140%;
        width: 20%;
        border: none;
        color: white;
        background-color: #33b510; 
        font-family: @demiFontStyle;
        border-radius:  40%;
        }
    table, th, td {
        color: white;
        margin-top: 8%;
        border: 4px solid #bdc3cc;

    }
    td{
        i{
            color: red;
        }
        background-color: #313542;
       .setDelete{ 
         
        .deleteTrack{
            
            border: 0;
            background-color: #bdc3cc;
             border: 5px solid #bdc3cc;
        }
     }
    }

}
/*UPLAOD WIZARD CSS*/
.fa-circle-o{
    margin-left: 10px;
}
 .current-page{
    text-align: center;
    padding-left: 20px;
 }
 #current-page{
    background-color: #313542;
    border-radius: 100%;
    text-align: center;
 }
 .step-tile{
    width: 764px;
    height: 506px;
    background-color: #dadfe1;
    border-radius: 10px;
 }
 .upload-set{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #6c7a89;
    color: white;
    text-align: center;
    font-size: 1.5em;
 }
 .upload-directions{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
 }
 .wizard-buttons{
  height: 60px;
  border-radius: 7%;
  background-color: #313542;
  color:#22a7f0;
  border-color: #313542;  
 }
 .step{
    margin-left: 25px;
 }
 .selection{
       padding-bottom: 10%;
        margin: 10px;
        text-align: center;  
 }
 .wizard{
    height: 560px;
    width: 100%;
    background-color: @setrecords-white;
    justify-content: center;
    align-items: center;
 }
 .wizard-input{
    text-align: center;

 }

 .WizardStep1{
       
    .selection{
        text-align: center;
            
        button{
            width: 16%;
            font-size: 1.5em;
        }
    }       
 }

 .WizardStep2{
    
    .selection{
       padding-bottom: 10%;
        margin: 10px;
        text-align: center;
            
        button{
            width: 25%;
            font-size: 1.5em;
        }
    }
 }

 .WizardStep3{
    .step{
    margin-top: 15px;
    margin-bottom: 15px;    
    margin-left: 25px;
    }
    .upload-directions{
        margin-bottom: 1px;
   }

   .selection{
       padding-bottom: .1%;
       button{
            width: 20%;
            font-size: 1.5em;
        }
        
    }
    .wizard-input{
        width: 100%;
    }
    .input-page3{
       width: 60%;
       height: 30px;
       margin-bottom: 8px;
    }
    .upload-directions{
        margin-top: 0px;
        padding-top: 0px;
    }
}

.WizardStep4{
    .upload-directions {
    margin-bottom: 0px;
    height: 12%;
  
}
    .wizard-buttons{
  width: 30%;
  height: 60px;
  border-radius: 7%;
  background-color: #313542;
  color:#22a7f0;
  border-color: #313542; 
 }
 .selection{
       padding-bottom: 0%;
        margin: 10px;
        text-align: center;
            
        button{
            width: 25%;
            font-size: 1.5em;
            
        }
    }
.beacon{
   margin-bottom: 10px;
   justify-content: center;
 }
 #reward{
    margin-left: 12px;
    margin:10px;
 }
 .free{
    justify-content: center;
 }

}

.WizardStep5{
    .upload-directions {
    margin-bottom: 0px;
    
     }
     select{
        width: 60%;
        height: 30px;
        margin-bottom: 60px;
     }
    .beacon-location{
        text-align: center;
    }
    .selection{
       padding-bottom: 20px;
            
        button{
            width: 18%;
            font-size: 140%;

            
            
        }
    }
}