/* Fonts */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Yellow Peas;
  src: url(../fonts/SECRCODE.ttf);
}
@font-face {
  font-family: SF New Republic;
  src: url(../fonts/SFNewRepublic.ttf);
}
@font-face {
  font-family: District;
  src: url(../fonts/DistProTh.otf);
}
@font-face {
  font-family: Kasse;
  src: url(../fonts/KasseFLF.ttf);
}
@font-face {
  font-family: Lane;
  src: url(../fonts/Lane-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro Light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: Source Sans Pro Extra Light;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: Avenir Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir Light;
  src: url(../fonts/AvenirNextLTPro-UltLtCn.otf);
}
.blur {
  background-size: cover;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
}
.buffer {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.buffer-2x {
  -webkit-box-flex: 2 1 auto !important;
  -moz-box-flex: 2 1 auto !important;
  -webkit-flex: 2 1 auto !important;
  -ms-flex: 2 1 auto !important;
  flex: 2 1 auto !important;
}
.buffer-3x {
  -webkit-box-flex: 3 1 auto !important;
  -moz-box-flex: 3 1 auto !important;
  -webkit-flex: 3 1 auto !important;
  -ms-flex: 3 1 auto !important;
  flex: 3 1 auto !important;
}
.buffer-4x {
  -webkit-box-flex: 4 1 auto !important;
  -moz-box-flex: 4 1 auto !important;
  -webkit-flex: 4 1 auto !important;
  -ms-flex: 4 1 auto !important;
  flex: 4 1 auto !important;
}
.buffer-5x {
  -webkit-box-flex: 5 1 auto !important;
  -moz-box-flex: 5 1 auto !important;
  -webkit-flex: 5 1 auto !important;
  -ms-flex: 5 1 auto !important;
  flex: 5 1 auto !important;
}
.buffer-6x {
  -webkit-box-flex: 6 1 auto !important;
  -moz-box-flex: 6 1 auto !important;
  -webkit-flex: 6 1 auto !important;
  -ms-flex: 6 1 auto !important;
  flex: 6 1 auto !important;
}
.buffer-lg {
  -webkit-box-flex: 10 1 auto !important;
  -moz-box-flex: 10 1 auto !important;
  -webkit-flex: 10 1 auto !important;
  -ms-flex: 10 1 auto !important;
  flex: 10 1 auto !important;
}
.center {
  margin: auto;
}
.click {
  cursor: pointer;
  transition: color 0.1s ease-in;
  transition-duration: 0.1s;
}
.click:hover {
  color: #dadfe1;
}
.set-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.flex-zero {
  -webkit-box-flex: 0 1 auto !important;
  -moz-box-flex: 0 1 auto !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
}
.flex {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.flex-2x {
  -webkit-box-flex: 2 1 auto !important;
  -moz-box-flex: 2 1 auto !important;
  -webkit-flex: 2 1 auto !important;
  -ms-flex: 2 1 auto !important;
  flex: 2 1 auto !important;
}
.flex-3x {
  -webkit-box-flex: 3 1 auto !important;
  -moz-box-flex: 3 1 auto !important;
  -webkit-flex: 3 1 auto !important;
  -ms-flex: 3 1 auto !important;
  flex: 3 1 auto !important;
}
.flex-4x {
  -webkit-box-flex: 4 1 auto !important;
  -moz-box-flex: 4 1 auto !important;
  -webkit-flex: 4 1 auto !important;
  -ms-flex: 4 1 auto !important;
  flex: 4 1 auto !important;
}
.flex-5x {
  -webkit-box-flex: 5 1 auto !important;
  -moz-box-flex: 5 1 auto !important;
  -webkit-flex: 5 1 auto !important;
  -ms-flex: 5 1 auto !important;
  flex: 5 1 auto !important;
}
.flex-6x {
  -webkit-box-flex: 6 1 auto !important;
  -moz-box-flex: 6 1 auto !important;
  -webkit-flex: 6 1 auto !important;
  -ms-flex: 6 1 auto !important;
  flex: 6 1 auto !important;
}
.flex-lg {
  -webkit-box-flex: 10 1 auto !important;
  -moz-box-flex: 10 1 auto !important;
  -webkit-flex: 10 1 auto !important;
  -ms-flex: 10 1 auto !important;
  flex: 10 1 auto !important;
}
.flex-fixed {
  -webkit-box-flex: 1 1 0 !important;
  -moz-box-flex: 1 1 0 !important;
  -webkit-flex: 1 1 0 !important;
  -ms-flex: 1 1 0 !important;
  flex: 1 1 0 !important;
}
.flex-fixed-2x {
  -webkit-box-flex: 2 1 0 !important;
  -moz-box-flex: 2 1 0 !important;
  -webkit-flex: 2 1 0 !important;
  -ms-flex: 2 1 0 !important;
  flex: 2 1 0 !important;
}
.flex-fixed-3x {
  -webkit-box-flex: 3 1 0 !important;
  -moz-box-flex: 3 1 0 !important;
  -webkit-flex: 3 1 0 !important;
  -ms-flex: 3 1 0 !important;
  flex: 3 1 0 !important;
}
.flex-fixed-4x {
  -webkit-box-flex: 4 1 0 !important;
  -moz-box-flex: 4 1 0 !important;
  -webkit-flex: 4 1 0 !important;
  -ms-flex: 4 1 0 !important;
  flex: 4 1 0 !important;
}
.flex-fixed-5x {
  -webkit-box-flex: 5 1 0 !important;
  -moz-box-flex: 5 1 0 !important;
  -webkit-flex: 5 1 0 !important;
  -ms-flex: 5 1 0 !important;
  flex: 5 1 0 !important;
}
.hidden {
  display: none!important;
}
.header {
  font-size: 4rem;
  font-weight: 400;
  font-family: Avenir Regular;
  letter-spacing: 0.5rem;
}
.header-medium {
  font-size: 3rem;
  font-weight: 400;
  font-family: Avenir Regular;
  letter-spacing: 0.2rem;
}
.header-small {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: Avenir Regular;
  letter-spacing: 0.1rem;
}
.hidden-fade {
  opacity: 0!important;
}
.overlay-container {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.overlay ~ * {
  z-index: 3;
}
.overlay ~ img {
  z-index: 1;
}
.scrollable {
  overflow-y: scroll!important;
}
.setrecords-panel {
  border: solid 2px #e2e7ec;
  background: #f2f1ef;
}
.unflexContainer {
  display: initial;
}
