@import "fonts.less";

@defaultDuration:1s;
@panel-transition-duration:0.2s;
@defaultFontSize:1.25rem;
@setrecordsFontSize:1.5rem;

@pageHeight:90vh;
@headerHeight:10vh;
@headerWidth:100vw;
@playerHeight: 10vh;
@pageWidth:@windowWidth;
@windowHeight:@headerHeight + @pageHeight;
@setTileHeight:@pageHeight*.25;
@trackTileHeight:@pageHeight*.25;
@uEventTileHeight:@pageHeight*.25;

@windowWidth:100vw;

@defaultFontStyle: Avenir Regular;
@lightFontStyle: Avenir Light;

@small-padding: @pageHeight*.01;
@medium-padding: @pageHeight*.02;
@large-padding: @pageHeight*.03;

@setmine-images: "http://d1wbxby8dwa4u.cloudfront.net/namecheap/";