/* Fonts */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Yellow Peas;
  src: url(../fonts/SECRCODE.ttf);
}
@font-face {
  font-family: SF New Republic;
  src: url(../fonts/SFNewRepublic.ttf);
}
@font-face {
  font-family: District;
  src: url(../fonts/DistProTh.otf);
}
@font-face {
  font-family: Kasse;
  src: url(../fonts/KasseFLF.ttf);
}
@font-face {
  font-family: Lane;
  src: url(../fonts/Lane-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro Light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: Source Sans Pro Extra Light;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: Avenir Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir Light;
  src: url(../fonts/AvenirNextLTPro-UltLtCn.otf);
}
