@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto Thin;
    src: url(./Roboto-Thin.ttf);
}
@font-face {
    font-family: Yellow Peas;
    src: url(./SECRCODE.ttf);
}
@font-face {
    font-family: SF New Republic;
    src: url(./SFNewRepublic.ttf);
}
@font-face {
    font-family: District;
    src: url(./DistProTh.otf);
}
@font-face {
    font-family: Kasse;
    src: url(./KasseFLF.ttf);
}
@font-face {
    font-family: Lane;
    src: url(./Lane-Regular.ttf);
}
@font-face {
    font-family: Source Sans Pro;
    src: url(./SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: Source Sans Pro Light;
    src: url(./SourceSansPro-Light.ttf);
}
@font-face {
    font-family: Source Sans Pro Extra Light;
    src: url(./SourceSansPro-ExtraLight.ttf);
}
@font-face {
    font-family: Avenir Demi;
    src: url(./AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: Avenir Regular;
    src: url(./AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir Light;
    src: url(./AvenirNextLTPro-UltLtCn.otf);
}
@font-face {
    font-family: Avenir Pro Condensed;
    src: url(./AvenirNextLTPro-Cn.otf);
}
@font-face {
    font-family: Avenir Pro Bold;
    src: url(./AvenirNextLTPro-Bold.otf);
}
