.flex(@flexGrow:1, @flexShrink: 1, @flexBasis: auto) {
    -webkit-box-flex: @flexGrow @flexShrink @flexBasis;
    -moz-box-flex: @flexGrow @flexShrink @flexBasis;
    -webkit-flex: @flexGrow @flexShrink @flexBasis;
    -ms-flex: @flexGrow @flexShrink @flexBasis;
    flex: @flexGrow @flexShrink @flexBasis;
}

.flex {
  .flex(1,1,auto)!important;
}
.flex-2x {
  .flex(2,1,auto)!important;
}
.flex-3x {
  .flex(3,1,auto)!important;
}
.flex-4x {
  .flex(4,1,auto)!important;
}
.flex-5x {
  .flex(5,1,auto)!important;
}

.flex-fixed {
  .flex(1,1,0)!important;
}
.flex-fixed-2x {
  .flex(2,1,0)!important;
}
.flex-fixed-3x {
  .flex(3,1,0)!important;
}
.flex-fixed-4x {
  .flex(4,1,0)!important;
}
.flex-fixed-5x {
  .flex(5,1,0)!important;
}

.flexContainer(@direction:row, @oldDirection:horizontal, @wrap:nowrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient:@oldDirection;
    -moz-box-orient:@oldDirection;
    -ms-box-orient:@oldDirection;
    -webkit-flex-direction:@direction;
    flex-direction:@direction;
    webkit-flex-flow: @direction @wrap;
    -moz-flex-flow: @direction @wrap;
    -ms-flex-flow: @direction @wrap;
    flex-flow: @direction @wrap;
    flex-wrap: @wrap;
    -webkit-flex-wrap: @wrap;
    -moz-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
}

.flex-column {
  .flexContainer(column, vertical, nowrap);
}
.flex-row {
  .flexContainer(row, horizontal, wrap);
}
