@import 'reset.css';
@import 'colors.less';
@import 'flex.less';
@import 'variables.less';

html {
    font-size: 16px;
    font-family: 'Avenir Regular';
}

.click {
    cursor: pointer;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}

@import 'MainInterface.less';
@import 'NavBar.less';
@import 'Header.less';
@import 'NavLink.less';
@import 'ExpandingMenuOption.less';
